.utb--users {
  -webkit-transform: translate3d(0,0,0);
  .user--name,
  .user--pos {
    color: #393939;
    display: block;
  }
  .user--pos {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: .9em;
  }
  .user--photo-wrap {
    width: 100%;
    max-width: 150px;
    display: inline-block;
    margin-bottom: 15px;
    .user--photo {
      position: relative;
      width: 100%;
      padding-bottom: 100%;
      display: block;
      overflow: hidden;
      @include border-radius(50%);
      img {
        position: absolute;
        left: 50%;
        top: 50%;
        min-width: 100%;
        @include transition(all 0.1s ease-in-out);
        @include transform(scale(1) translate(-50%, -50%));
        transform-origin: center;
        -webkit-transform-origin: center;
        -webkit-backface-visibility: hidden;
      }
    }
  }
  .utb--users-content {
    margin-bottom: 50px;
    p {
      line-height: 1.4em;
      color: #5f6060;
    }
    hr {
      margin-top: 50px;
      padding-bottom: 10px;
    }
  }
  .utb--user-grid {padding: 0 0 100px 0;}
  .user--column {
    text-align: center;
    margin-bottom: 40px;
    @media (max-width: 991px) {width: 33.33%;}
    @media (max-width: 767px) {width: 50%;}
    @media (max-width: 575px) {width: 100%;}
    a {
      display: block;
      color: #5f6060;
    }
    &:hover {
      a {text-decoration: underline;}
      img {
        @include transform(scale(1.01) translate(-50%, -50%));
      }
    }
  }
}
