.utb--author {
  padding: 50px 0;
  .author-content {
    padding-bottom: 30px;
  }
}

.author-content {
  .followers {}
  .author-column-image {
    max-width: 240px;
    width: 100%;
    display: inline-block;
    @media (min-width: 576px) {
      padding: 0 40px 0 0;
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
    @media (max-width: 575px) {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 25px;
    }
    box-sizing: border-box;
    .author-image {
      display: block;
      img {
        min-width: 100%;
      }
    }
  }
  .author-column-info {
    display: inline-block;
    box-sizing: border-box;
    @media (min-width: 576px) {
      -ms-flex: 0 0 66.666667%;
      flex: 0 0 66.666667%;
      max-width: 66.666667%;
    }
    @media (max-width: 575px) {width: 100%;}
    .author-info {
      h1 {
        @media (max-width: 575px) {margin-bottom: 20px;}
      }
    }
  }
  @media (max-width: 575px) {
    text-align: center;
  }
}

.utb--user-posts {
  hr {margin: 50px 0 80px 0;}
  .author-articles {
    .utb--posts {
      .utb--post {
        .utb--post-title {
          margin-bottom: 5px;
          font-size: 24px;
          line-height: 1.2em;
        }
      }
    }
    > h3 {
      margin-bottom: 30px;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: .05em;
      color: #999;
    }
  }
}
