.utb--mod-featured {
  &:not(.featured-action-type) {padding: 0 0 60px 0;}
  .utb--post {
    @media (max-width: 767px) {
      margin-bottom: 40px;
    }
    .utb--all-url {
      &.utb--all-top {
        padding: 0;
        font-size: 24px;
        @media (min-width: 768px) {
          margin-top: -20px;
        }
        a {
          &:hover {
            &:before {
              content: 'Go to ';
            }
          }
        }
      }
    }
    &:not(.post--view-full) {
      @media (min-width: 768px) {
        &:first-child {padding: 0 20px 0 0;}
        &:last-child {padding: 0 0 0 20px;}
      }
    }
    .utb--post-img-wrap {margin-bottom: 30px;}
  }
  &.featured-action-type {

  }
}

.utb--archive-actions {
  position: relative;
  width: 100%;
  text-align: center;
  border-width: 1px 0;
  border-style: solid;
  border-color: #ccc;
  @media (min-width: 576px) {padding: 30px 0;}
  @media (max-width: 575px) {padding: 30px 0 10px 0;}
  @media (min-width: 576px) {
    .btn {
      + .btn {
        margin-left: 10px;
      }
    }
  }
  @media (max-width: 575px) {
    .btn {
      margin-bottom: 20px;
    }
  }
}
