.utb--mod-promo {
  padding-top: 20px;
  &.utb--mod-promo-archive {
    background-color: $color-1;
  }
  .utb--mod-content {
    padding-top: 50px;
    padding-bottom: 70px;
    @media (max-width: 767px) {
      padding-bottom: 0px;
    }
    &.mod-content-center {text-align: center;}
    &.mod-image-left {
      order: 2;
      + .utb--mod-image {
        order: 1;
      }
    }
    &.mod-image-right {
      order: 1;
      + .utb--mod-image {
        order: 2;
      }
    }
    &.mod-text-left {text-align: left;}
    &.mod-text-center {text-align: center;}
    &.mod-text-right {text-align: right;}
    //color schemes
    &.mod-color-purple {
      .btn {
        color: white;
        background-color: #4e3177;
        border-color: #4e3177;
  			&:hover,
  			&:focus {
          background-color: #a695bd;
          border-color: #a695bd;
  			}
      }
    }
    &.mod-color-gold {
      .btn {
        color: white;
        background-color: #e5b223;
        border-color: #e5b223;
  			&:hover,
  			&:focus {
          background-color: #f4cd61;
          border-color: #f4cd61;
  			}
      }
    }
    &.mod-color-white {
      .btn {
        color: $color-2;
        background-color: white;
        border-color: white;
  			&:hover,
  			&:focus {
          background-color: transparent;
          color: white;
          border-color: #f4cd61;
  			}
      }
    }
    &.mod-color-dark {
      .btn {
        border: 1px solid #aeaeae;
        color: $color-3;
				&:hover,
				&:focus {
				  color: white;
				}
      }
    }
    .utb-mod-copy {
      + .utb--mod-subtitle {
        margin-bottom: -10px;
        margin-top: 1rem;
      }
    }
  }
  .utb--mod-action {
    padding: 20px 0 0 0;
  }
  @media (max-width: 767px) {
    .container {
      max-width: 580px;
    }
    .utb--mod-content {
      order: 1 !important;
      width: 100%;
    }
    .utb--mod-image {
      order: 2 !important;
      width: 100%;
    }
  }
}
