.utb--mod-recent {
  padding: 80px 0;
  .utb--mod-head {
    .utb--mod-title {
      font-size: 24px;
      text-transform: uppercase;
      letter-spacing: .05em;
      margin-bottom: 70px;
    }
  }
  .utb--posts {
    .utb--post {
      margin-bottom: 50px;
      .utb--post-body {padding: 15px 0 0 0;}
      .utb--post-tags {padding: 0 0 15px 0;}
      .utb--post-title {
        font-size: 1.2rem;
      }
      @media (max-width: 991px) {width: 50%;}
      @media (max-width: 575px) {width: 100%;}
    }
  }

  .utb--mod-foot {
    padding: 20px 0 0 0;
    a {
      font-size: 20px;
      text-transform: uppercase;
    }
  }
}
