.utb--mod {
  .align-bottom {vertical-align: bottom;}
  .col-pad {
    position: relative;
    @media (min-width: 576px) {
      padding-right: 20px;
      padding-left: 20px;
    };
    min-height: 1px;
  }
}

.utb-mod-copy {
  color: rgba(0,0,0,.5);
}

h1 {
  &.utb--mod-title {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 15px;
    color: $color-3;
    @media (max-width: 767px) {
      font-size: 24px;
    }
    span {
      font-weight: normal;
      font-size: 30px;
      @media (max-width: 767px) {
        font-size: 24px;
      }
      color: rgba(0,0,0,.5);
    }
    a {
      color: $color-3;
      &:hover,
      &:focus {
        color: $color-1;
        text-decoration: underline;
      }
    }
  }
}

h2 {
  &.utb--mod-subtitle {
    font-size: 22px;
    font-style: italic;
    font-weight: 400;
  }
}

h3 {
  &.utb--mod-title {
    font-weight: bold;
    font-size: 24px;
  }
}
