.utb--mod-topics {
  padding: 60px 0;
  background-color: #f2f2f0;
  @media (max-width: 991px) {
    .container {
      max-width: 720px;
    }
  }
  @media (max-width: 767px) {
    .container {
      max-width: 100%;
    }
  }
  .utb--topics {
    margin-bottom: 1rem;
    ul {
      margin: 0;
      li {
        padding: 5px 20px;
        box-sizing: border-box;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        list-style: none;
        @media (max-width: 991px) {
          width: 25%;
        }
        @media (max-width: 767px) {
          width: 33.33%;
        }
        @media (max-width: 575px) {
          width: 100%;
          text-align: center;
          &:nth-child(n+7) {
            display: none;
          }
        }
        a {
          color: #777;
          word-break: break-word;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  .utb--topic-terms {
    li {display: none;}
  }
}
