.utb--hero-title-area {
  min-height: 300px;
  @media (max-width: 767px) {
    min-height: 200px;
  }
  position: relative;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  text-align: center;
  &:before {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    display: block;
    content: '';
    height: 100%;
    background-color: rgba(0,0,0,0.4);
  }
  .utb--hero-title {
    position: relative;
    z-index: 2;
    color: #fff;
    @media (min-width: 576px) {padding: 0 40px;}
    box-sizing: border-box;
    font-size: 2rem;
    @media (min-width: 576px) and (max-width: 767px) {
      margin-top: 20px;
    }
    @media (max-width: 767px) {font-size: 26px;}
    @media (max-width: 575px) {
      width: 100%;
      padding: 0 30px;
    }
    font-weight: 400;
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
  }
}

a[data-tab] {
  &.active {
    border: 1px solid white !important;
    background-color: white !important;
    color: #111 !important;
  }
}
div[data-content] {
  display: none;
  &[data-content="1"] {
    @media (min-width: 576px) {
      padding: 30px 0 50px;
    }
    @media (max-width: 575px) {
      padding: 10px 0 30px;
    }
  }
  &.active {
    display: block;
  }
}

.media-type {
  position: relative;
  background-color: #222;
  &.media-type-audio {
    @media (min-width: 576px) {
      padding: 50px 0 70px;
    }
    @media (max-width: 575px) {
      padding: 50px 0 40px;
    }
  }
  &.media-type-video {
    padding: 20px 0;
  }
  .media-options {
    @media (min-width: 576px) {
      position: absolute;
      left: 50%;
      @include transform(translate(-50%));
      border-radius: 0 0 30px 30px;
      -webkit-border-radius: 0 0 30px 30px;
      display: inline-block;
    }
    @media (min-width: 768px) {
      height: 50px;
      bottom: -50px;
      padding: 0 10px;
    }
    @media (min-width: 576px) and (max-width: 767px) {
      top: 100%;
      padding: 0 6px 0 6px;
    }
    @media (max-width: 767px) {
      text-align: center;
    }
    @media (max-width: 575px) {
      padding-top: 30px;
    }
    background-color: #222;
    z-index: 10;
    box-sizing: border-box;
    > ul {
      list-style: none;
      display: block;
      > li {
        display: inline-block;
        padding: 0 8px;
        margin-bottom: 10px;
        @media (max-width: 767px) {
          padding: 0 4px;
        }
        box-sizing: border-box;
        &.has-dropdown {
          position: relative;
          a {
            &.is-active {
              border: 1px solid white;
              background-color: white;
              color: #111;
            }
          }
        }
        > a {

        }
        .media-dropdown {
          position: absolute;
          top: 100%;
          left: 7px;
          will-change: transform;
          min-width: 10rem;
          padding: .5rem 0;
          margin: .125rem 0 0;
          font-size: 1rem;
          color: #212529;
          text-align: left;
          list-style: none;
          background-color: #fff;
          background-clip: padding-box;
          border: 1px solid rgba(0,0,0,.15);
          border-radius: .25rem;
          z-index: 1000;
          display: none;
          > a {
            display: block;
            width: 100%;
            padding: .50rem 1.5rem;
            box-sizing: border-box;
            clear: both;
            font-weight: 400;
            color: #212529;
            text-align: inherit;
            white-space: nowrap;
            background: 0;
            border: 0;
            &:hover,
            &:focus {
              background-color: #f8f9fa;
              color: $color-1;
            }
            + a {
              margin-top: 5px;
            }
          }
        }
      }
    }
  }
}
