.utb--section-lfrequest,
.utb--section-lfsubscribe {
  background-color: #f2f2f0;
  display: none !important;
  padding-top: 60px;
  .utb--compact {
    max-width: 860px;
  }
  .utb--mod-head {
    .utb--mod-title {
      font-size: 24px;
      text-transform: uppercase;
      letter-spacing: .05em;
      margin-bottom: 40px;
    }
    .utb--head-content {
      p {color: #999;}
    }
  }
}
.feature-boxes {
  padding-top: 60px;
  margin: 0 -20px;
  .column {
    padding: 0 20px;
    @media (max-width: 992px) {
      width: 50%;
      margin-bottom: 20px;
    }
    @media (max-width: 575px) {
      width: 100%;
    }
    h3 {
      margin-top: 14px;
      margin-bottom: 15px;
      font-size: 1.2rem;
      font-weight: bold;
    }
    p {color: #555;}
  }
}
.utb--section-lfrequest {
  position: relative;
  padding-bottom: 60px;
  .column {
    @media (max-width: 767px) {width: 100%;}
  }
  .request-image-column {
    @media (min-width: 768px) {padding-right: 20px;}
    @media (max-width: 767px) {margin-bottom: 20px;}
    img {
      display: block;
      min-width: 100%;
      height: auto;
    }
  }
  .request-form-column {
    &.column {
      @media (min-width: 768px) {padding-left: 20px;}
    }
  }
}
