.utb--monthly-offer {
  margin: 70px 0 0 0;
  position: relative;
  background-size: cover;
  background-position: center center;
  @media (max-width: 767px) {
    .container {
      padding-right: 5px;
      padding-left: 5px;
    }
  }
  .offer-box {
    position: relative;
    background-color: rgba(51,51,51,0.6);
    padding: 80px 100px 40px 40px;
    @media (max-width: 575px) {
      padding: 80px 20px 40px 20px;
      text-align: center;
    }
    box-sizing: border-box;
    float: right;
    min-width: 280px;
    @media (max-width: 767px) {
      min-width: 100%;
    }
    h1 {
      text-transform: uppercase;
      font-size: 28px;
      font-weight: bold;
      color: white;
      @media (max-width: 575px) {
        font-size: 22px;
      }
    }
    h2 {
      font-size: 20px;
      font-style: italic;
      color: rgba(256,256,256,.6);
      font-weight: 500;
    }
    @media (max-width: 575px) {
      img {margin-bottom: 15px;}
    }
    .offer-box-title {
      position: absolute;
      top: -50px;
      left: 0;
      width: 100%;
      background: rgba(78,49,119,1);
      color: #fff;
      padding: 15px 20px;
      box-sizing: border-box;
      @media (max-width: 575px) {
        text-align: left;
      }
      span {
        padding: 0;
        margin: 0;
        font-size: 16px;
        text-transform: uppercase;
        display: block;
        line-height: 1.25em;
      }
    }
  }
}
