.page-template-tpl-archive {
  position: initial !important;
}

.utb--posts {
  //global post styles
  &.utb--posts-balance {
    .grid {margin: 0 -30px;}
  }
  .utb--post {
    //post image 16:9 aspect ratio
    .utb--post-img-wrap {
      + .utb--post-title {
        margin-top: 20px;
      }
      .utb--post-img {
        position: relative;
        width: 100%;
        &.utb--post-img-zoom {
          img {
            @include transition(all 0.1s ease-in-out);
            @include transform(scale(1) translate(-50%, -50%));
            transform-origin: center;
            -webkit-transform-origin: center;
            -webkit-backface-visibility: hidden;
          }
          &:hover {
            img {@include transform(scale(1.01) translate(-50%, -50%));}
          }
        }
        img {
          position: absolute;
          left: 50%;
          top: 50%;
          @include transform(translate(-50%, -50%));
          opacity: 0.9;
          &.utb--portrait {
            width: 100%;
            max-height: none;
            min-height: 100%;
            height: auto;
          }
          &.utb--landscape {
            height: 100%;
            max-height: 100%;
            min-width: 100%;
            max-width: none;
            width: auto;
          }
        }
        &:hover {
          img {opacity: 1;}
        }
        &.utb--img-16-9 {
          overflow: hidden;
          height: 0;
          padding-top: 56.25%;
        }
      }
    }
    //post title styling
    .utb--post-title {
      margin-bottom: 15px;
      font-weight: bold;
      font-size: 30px;
      a {
        color: #222;
        &:hover,
        &:focus {color: $color-1;}
      }
    }
    //post content styling
    .utb--post-content {
      color: #555;
      margin-bottom: 25px;
      p {
        color: inherit;
        margin: 0;
      }
    }
    //post tags
    .utb--post-tags {
      padding: 15px 0;
      text-align: center;
      a {
        font-size: .7rem;
        margin: 0 5px;
      }
    }
    //post meta, author and date
    .utb--post-meta {
      margin-bottom: 25px;
      font-size: 80%;
      .utb--post-time {
        display: block;
        margin-bottom: 10px;
        color: #afafaf;
        text-transform: uppercase;
        font-weight: bold;
      }
      .search-info {
        span {
          display: inline-block;
          text-transform: uppercase;
          color: #afafaf;
          + span {
            &:before {
              color: #afafaf;
              margin-left: 6px;
              margin-right: 6px;
              content: '-';
              display: inline-block;
            }
          }
        }
      }
    }
    .utb--post-series {
      font-weight: bold;
      font-style: italic;
      font-size: .9rem;
      margin-bottom: 16px;
      span {color: #555;}
    }
    &.post--view-full {
      width: 100%;
      &:after {clear: both; display: block; content: '';}
      .utb--post-img-wrap,
      .utb--post-body {
        margin-bottom: 30px;
        @media (min-width: 993px) {
          width: 50%;
          float: left;
        }
        box-sizing: border-box;
      }
      @media (min-width: 993px) {
        .utb--post-img-wrap {padding: 0 20px 0 0;}
        .utb--post-body {padding: 0 0 0 20px;}
      }
      @media (max-width: 992px) {
        .utb--post-body {
          margin-bottom: 50px;
        }
      }
    }
  }
  //home latest specific styles
  .utb--post {
    -webkit-transform: translate3d(0,0,0);
    &.utb--post-home {
      padding: 0 30px;
      box-sizing: border-box;
      //post title styling
      .utb--post-title {
        font-size: 28px;
        @media (max-width: 991px) {
          font-size: 22px;
        }
      }
    }
  }
  .utb--all-url {
    &.utb--all-top {
      padding: 15px 0;
      margin-bottom: 15px;
      text-align: center;
      text-transform: uppercase;
      font-size: 15px;
      font-weight: bold;
      display: block;
      a {
        position: relative;
        color: #999;
        i {
          position: relative;
          opacity: 0;
          visibility: hidden;
          margin-left: 5px;
        }
        &:hover,
        &:focus {
          color: $color-1;
          i {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
    &.utb--all-bot {
      padding: 25px 0 0 0;
    }
  }
}

.utb--post {
  width: 100%;
}

/* fade image in while loading and show a spinner as background image (good for progressive images) */

.lazyload,
.lazyloading {
  opacity: 0;
}

.loading,
.lazyload,
.lazyloaded {
  opacity: .9;
  transition: 2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.loading:before {
  display: block;
  content: '';
  position: absolute;
  width: 100%; height: 100%;
  left: 0;
  top: 0;
  background-color: white;
  background-size: 150px;
  background-image: url('../img/loader.svg');
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}
