.utb--single {
  padding: 80px 0 60px 0;
  &.utb--single-series {padding: 0 0 60px 0;}
  .utb--share {
    @media (max-width: 767px) {
      li {
        display: inline-block;
        padding: 0 8px;
        box-sizing: border-box;
        a {
          width: 30px;
          height: 30px;
          font-size: 16px;
          line-height: 32px;
        }
      }
    }
  }
  hr + .from-series-box {padding-top: 20px;}
}

.utb-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 30px;
}

.from-series-box {
  margin-bottom: 40px;
  position: relative;
  width: 100%;
  + hr {margin-bottom: 40px;}
  .series-head {
    font-size: 19px;
    color: #333;
    margin-bottom: 1rem;
    display: block;
  }
  &:before,
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  picture {
    max-width: 240px;
    @media (max-width: 992px) {
      display: block;
      float: none;
    }
  }
  h3 {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: bold;
    display: block;
    line-height: 1.2em;
    a {
      text-decoration: none;
      color: #393939;
      &:hover {text-decoration: underline;}
    }
  }
  p {
    font-size: 19px;
    color: #333;
    line-height: 1.4em;
  }
  .btn {
    margin-bottom: 15px;
  }
}

.utb--cpt-title {
  font-weight: 700;
  font-size: 30px;
  color: $color-3;
}

.utb--cpt-content {
  margin-bottom: 15px;
  p {
    color: #5f6060;
    + p {
      margin-top: 20px;
    }
  }
}

.sermon-link {margin-top: 50px;}

.sermon-link {
  display: block;
}

.series--current-item {
  .column {
    @media (min-width: 768px) {
      &:nth-child(1) {padding-right: 20px;}
      &:nth-child(2) {padding-left: 20px;}
    }
    @media (max-width: 767px) {
      &:nth-child(1) {margin-bottom: 40px;}
    }
  }
}

.utb--single-post {
  &:after {clear: both; display: block; content: '';}
  .utb--sidebar-stamp {
    padding: 15px 0;
    @media (min-width: 768px) {
      margin: 0 0 15px 0;
      border-width: 1px 0;
      border-style: solid;
      border-color: #ddd;
    }
    color: #999;
    .stamp-date {
      font-size: .9rem;
    }
  }
  .utb--sidebar-linked {
    margin-bottom: 15px;
    @media (max-width: 767px) {
      margin-bottom: 5px;
    }
    a {
      color: $color-3;
      &:hover {
        text-decoration: underline;
      }
    }
    picture {
      display: block;
      margin-bottom: 10px;
      @media (max-width: 767px) {
        display: inline-block;
        max-width: 100px;
      }
    }
    .lnk-title {
      margin-top: 10px;
      color: #393939;
      font-weight: bold;
      display: block;
      line-height: 1.2em;
    }
    .series-head {
      font-style: italic;
      color: #999;
      font-size: 19px;
      margin-bottom: 1rem;
      display: block;
    }
  }
}

.utb--single-post {
  position: relative;
  .utb--single-sidebar {
    position: relative;
    @media (min-width: 768px) {
      width: 180px;
      float: left;
    }
    @media (max-width: 767px) {
      width: 100%;
      + .utb--single-body {
        margin-top: 40px;
      }
    }
    text-align: center;
    padding: 0 20px;
    box-sizing: border-box;
  }
  .utb--single-body {
    @media (min-width: 768px) {
      width: calc(100% - 180px);
      float: left;
      padding: 0 16.66% 0 20px;
    }
    @media (max-width: 767px) {
      width: 100%;
    }
    min-height: 1px;
  }
}

.author-image {
  position: relative;
  @media (min-width: 768px) {
    width: 100%;
    padding-bottom: 100%;
  }
  border-radius: 50%;
  overflow: hidden;
  @media (max-width: 767px) {
    width: 60px;
    height: 60px;
    display: inline-block;
  }
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 1;
    max-width: 100%;
    @include transform(translate(-50%, -50%));
  }
}

.utb--sidebar-author {
  position: relative;
  @media (min-width: 768px) {
    margin-bottom: 10px;
  }
  .author-name {
    margin-top: 10px;
    display: block;
    color: #393939;
    font-weight: bold;
    line-height: 1.2em;
  }
  a {
    &:hover,
    &:focus {
      .author-name {
        text-decoration: underline;
      }
    }
  }
}

.utb--single-body {
  box-sizing: border-box;
}

.utb--single-broadcast {
  .single-meta {
    .meta-topics {padding-top: 0;}
  }
  .single-content {
    + .single-meta {padding-top: 25px;}
  }
}

.single-meta {
  .meta-topics {
    font-size: 19px;
    color: $color-2;
    padding-top: 25px;
    padding-bottom: 45px;
    > span {
      display: inline-block;
      margin-right: 5px;
    }
    a {
      margin: 0 7px;
    }
  }
}

.single-author {
  padding: 20px 0;
  small {
    font-weight: bold;
    text-transform: uppercase;
    color: #999;
    letter-spacing: .05em;
    font-size: 80%;
    margin-bottom: 5px;
    display: block;
  }
  .author-name {
    font-size: 30px;
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    a {
      color: $color-1;
      &:hover,
      &:focus {
        color: #a695bd;
        text-decoration: underline;
      }
    }
  }
  p {
    line-height: 1.5em;
    color: #5f6060;
    a {
      display: inline;
      border-bottom: 1px dotted #afafaf;
      color: $color-1;
      &:hover,
      &:focus {
        color: $color-3;
        border: none;
      }
    }
  }
}

.utb--topic-explorer {
  .explorer-head {
    padding: 70px 0 45px 0;
    text-align: center;
    h3 {
      text-transform: uppercase;
      font-size: 22px;
      color: #bbb;
      font-weight: 500;
    }
  }
  .utb--posts {
    .utb--post {
      padding: 0 20px;
      @media (max-width: 767px) {
        margin-bottom: 50px;
        padding: 0 0px;
      }
      .utb--post-body {padding: 15px 0 0 0;}
      .utb--post-tags {padding: 0 0 15px 0;}
      .utb--post-title {
        font-size: 1.2rem;
      }
    }
  }
}
