.tell-story {
  background-color: #f2f2f0;
  padding: 80px 0;
  .column {
    .utb--mod-title {
      margin-bottom: 20px;
    }
    p + p {
      margin-top: 15px;
    }
    &:nth-child(1) {
      @media (min-width: 768px) {
        padding-right: 25px;
      }
      @media (max-width: 767px) {
        margin-bottom: 40px;
      }
    }
    &:nth-child(2) {
      @media (min-width: 768px) {
        padding-left: 25px;
      }
      @media (max-width: 767px) {
        width: 100%;
      }
    }
  }
  div.ginput_complex.ginput_container.gf_name_has_2 span label {
    margin-top: 5px !important;
    margin-bottom: 0px !important;
    font-size: 12px;
    color: #afafaf;
    display: none !important;
  }
  @media only screen and (min-width: 768px) {
    div.ginput_complex.ginput_container.gf_name_has_2 span {
      display: inline-block !important;
    }
    .gform_wrapper .gform_body .gform_fields .gfield .ginput_container.ginput_complex>span+span {
      margin-top: 0px !important;
    }
    .gform_wrapper .gform_body .gform_fields .gfield .ginput_container.ginput_complex>span:nth-child(1) {
      padding-right: 5px !important;
    }
    .gform_wrapper .gform_body .gform_fields .gfield .ginput_container.ginput_complex>span:nth-child(2) {
      padding-left: 5px !important;
    }
    .gform_wrapper .gform_body .gform_fields .gfield#field_4_3,
    .gform_wrapper .gform_body .gform_fields .gfield#field_4_9 {
      width: 50%;
      display: inline-block;
      padding-right: 0;
    }
    .gform_wrapper .gform_body .gform_fields .gfield#field_4_3 {
      padding-right: 10px;
      width: 49%;
    }
    .gform_wrapper .gform_body .gform_fields .gfield#field_4_9 {
      padding-left: 0px;
      padding-right: 10px;
    }
    @media only screen and (min-width: 641px) {
      .gform_wrapper textarea.medium {
          height: 90px;
      }
    }
  }
  .gform_wrapper .gform_body .gform_fields .gfield .gfield_label, .gform_wrapper .gform_body .gform_fields .gfield label {
    display: none !important;
  }
}
