.utb--hero-today,
.utb--hero-monthly {
  padding: 70px 50px 70px;
  @media (max-width: 767px) {
    &.column {width: 100%;}
  }
  @media (max-width: 667px) {
    padding: 60px 20px 60px;
  }
  h1 {
    font-weight: bold;
    color: white;
    a {
      color: inherit;
      &:hover,
      &:focus {
        color: $color-1;
        text-decoration: underline;
      }
    }
  }
  h3 {
    color: rgba(256,256,256,.7);
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 5px;
    letter-spacing: .05em;
    i {margin-right: 5px;}
  }
  h2 {
    font-size: 20px;
    font-style: italic;
    color: rgba(256,256,256,.6);
  }
}
.utb--hero-today {position: relative;}

.utb--hero-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-color: black;
  background-position: center center;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    content: '';
    background-color: rgba(0,0,0,0.5);
  }
}

.utb--hero-today {
  h1 {
    font-size: 40px;
    margin-bottom: 20px;
    @media (max-width: 575px) {
      font-size: 24px;
    }
  }
  .series-link {
    display: block;
    padding-bottom: 1rem;
    font-size: 15px;
    a {font-size: 17px;}
    h4, span {
      display: inline-block;
    }
    span {
      color: rgba(256,256,256,.7);
      text-transform: uppercase;
    }
  }
}

.utb--hero-extra {
  padding: 25px 0 0 0;
}

.utb--hero-monthly {
  background: #f2f2f0;
  @media (max-width: 575px) {
    img {margin-bottom: 15px;}
  }
  h3, h2 {
    color: rgba(0,0,0,0.5);
  }
  h1 {
    font-size: 34px;
    a {
      color: #444;
    }
    @media (max-width: 575px) {
      font-size: 24px;
    }
  }
  .offer-action {
    img {max-width: 200px;}
  }
}
