.utb--featured-story {
  text-align: center;
  padding: 20px 0 120px 0;
  .utb--story-inner {padding: 100px 0 0 0;}
  .utb--featured-story-action {
    padding-top: 3rem;
    a {
      text-transform: uppercase;
      font-size: 20px;
    }
  }
  .utb--mod-title {
    margin-bottom: 40px;
  }
  .utb--post-content {
    margin-bottom: 20px;
  }
  .utb--small-intro {
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
    color: #afafaf;
    font-size: 80%;
  }
  .utb--post-snippet {
    text-align: left;
    font-size: 22px;
    font-style: italic;
    color: #5f6060;
    margin-bottom: 1rem;
  }
  .container {
    @media (max-width: 767px) {
      padding-right: 20px;
      padding-left: 20px;
    }
  }
}
