.utb--archive {
  &.utb--archive-all {
    padding: 0 0 80px 0;
    .utb--wrap {
      &.has-sidebar {
        .utb--content {min-height: 270px;}
        .utb--sidebar {
          @media (min-width: 768px) {
            padding-left: 20px;
          }
        }
      }
    }

  }
}

.group-scriptures {
  .group-scroll {
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: auto;
  }
}

.utb--result-404 {
  display: none;
  position: relative;
  text-align: center;
  padding: 100px 0;
  .icon-ghost {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
    font-size: 120px;
    margin-top: -20px;
    color: $color-1;
    opacity: 0.2;
  }
  p {
    font-size: 20px;
    font-weight: bold;
  }
}

.mixitup-container-failed {
  .utb--result-404 {
    display: block;
  }
}

.utb--archive {
  &.utb--archive-all {
    .utb--posts {
      .utb--post {
        @extend .grid;
        align-items: center;
        .utb--post-body {
          width: calc(100% - 100px);
          display: inline-block;
          float: left;
          padding-left: 15px;
          box-sizing: border-box;
        }
        .utb--post-title {
          margin-bottom: 10px;
          font-size: 24px;
        }
        .utb--post-img-wrap {
          width: 100px;
          display: inline-block;
          float: left;
          img {
            display: block;
            position: relative;
            left: auto;
            top: auto;
            transform: none !important;
          }
        }
      }
    }
  }
}

.utb--archive {
  .utb--results {
    overflow: hidden;
    .utb--result {
      .utb--post-title {margin-top: 0;}
      .utb--post-meta {
        margin-bottom: 0;
      }
      padding-bottom: 15px;
      margin-bottom: 15px;
      border-bottom: 1px solid #ddd;
      &:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: 0;
      }
    }
  }
}
.utb--archive-search {
  padding: 20px;
  background-color: #f2f2f0;
  box-sizing: border-box;
  margin-bottom: 60px;
  input {
    display: block;
    width: 100%;
  }
}

.checkbox {
  display: block;
  input[type="checkbox"]:not(:checked),
  input[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
    opacity: 0;
  }
  label {
    position: relative;
    display: inline-block;
    line-height: 24px;
    padding-left: 28px;
    font-size: 1rem;
    font-weight: 400;
    &:before,
    &:after {
      position: absolute;
      content: "";
      /*Needed for the line-height to take effect*/
      display: inline-block;
    }
    &:before {
      height: 16px;
      width: 16px;
      border: 1px solid;
      left: 0px;
      top: 3px;
      cursor: pointer;
    }
    &:after {
      height: 5px;
      width: 9px;
      border-left: 2px solid;
      border-bottom: 2px solid;
      transform: rotate(-45deg);
      left: 4px;
      top: 7px;
    }
  }
  input[type="checkbox"] {
    display: inline-block;
    + label {
      &:after {
        content: none;
      }
    }
    &:checked + label {
      &:after {
        content: "";
      }
    }
  }
  + .checkbox {
    margin-top: 10px;
  }
}

.mixitup-page-list {
  padding: 40px 0 0 0;
  .mixitup-control {
    border: none;
    padding: 0;
    line-height: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    color: #999;
    background-color: transparent;
    &:hover,
    &:focus {
      color: #4e3177;
      text-decoration: none;
      background-color: #e9ecef;
      border-color: #ddd;
    }
    &.mixitup-control-disabled {

    }
    &.mixitup-control-active {
      z-index: 2;
      color: #fff;
      background-color: #4e3177;
    }
    &.mixitup-control-prev,
    &.mixitup-control-next {

    }
    &:not(.mixitup-control-disabled):not(.mixitup-control-active) {
      cursor: pointer;
    }
    &:not(.mixitup-control-prev):not(.mixitup-control-next) {

    }
  }
}
