.utb--builder-404 {
  position: relative;
  padding: 150px 0;
  text-align: center;
  .icon-grid {
    position: absolute;
    opacity: 0.1;
    left: 50%;
    top: 50%;
    @include transform(translate(-50%, -50%));
    font-size: 300px;
    color: $color-1;
    z-index: -1;
  }
  .utb--mod-title {
    margin-bottom: 20px;
  }
  .utb--builder-404-message {
    margin-bottom: 30px;
  }
}
