.utb--offer-page {
  img {
    width: 100%;
    @media (max-width: 991px) {max-width: 400px;}
  }
  .grid {
    justify-content: center;
    .column {
      padding: 0 20px;
      @media (max-width: 991px) {
        width: 100%;
        text-align: center;
        &:nth-child(1) {
            margin-bottom: 20px;
        }
      }
      h1 {
        font-weight: bold;
        font-size: 30px;
        @media (max-width: 575px) {font-size: 24px;}
        a {
          &:hover {
            color: $color-1;
            text-decoration: underline;
          }
          color: #393939;
        }
      }
      h5 {
        color: #afafaf;
        margin-bottom: 15px;
        display: block;
        font-weight: 300;
        font-size: 18px;
      }
      .offer-month {
        font-size: 1.75rem;
        @media (max-width: 575px) {font-size: 1.50rem;}
        margin-top: 20px;
      }
      .offer-date {
        text-transform: uppercase;
        font-weight: bold;
        display: block;
        margin-bottom: 20px;
        color: #afafaf;
        font-size: 80%;
      }
      p {
        color: #5f6060;
      }
    }
  }
}

.offer-items {
  text-align: center;
  .column {
    @media (min-width: 768px) {
      padding: 0 20px;
    }
  }
  @media (max-width: 767px) {
    .column {
      + .column {
        margin-top: 20px;
      }
    }
  }
  h3 {
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: bold;
  }
  p {
    margin-bottom: 20px;
  }
  picture {
    display: inline-block;
    max-width: 300px;
    margin-bottom: 25px;
  }
}

.offer-intro {
  margin-bottom: 50px;
}
.offer-emphasize {
  padding: 20px 0;
  border-top: 1px solid #ccc;
  text-align: center;
  + .offer-content {
    border-top: 1px solid #ccc;
    padding: 40px 0;
  }
  p {
    font-size: 1.5rem;
    @media (max-width: 575px) {font-size: 1.3rem;}
    font-weight: 400;
    line-height: 1.2;
  }
}

.offer-content {
  p {
    line-height: 1.4em;
    color: #5f6060;
    + p {
      margin-top: 20px;
    }
  }
}

.offer-items {
  background-color: #f2f2f0;
  padding: 60px 0;
}
