.utb--page-title-area {
  padding: 0 0 30px 0;
  &.page-title-special {
    position: relative;
    display: block;
    padding: 60px 0;
    &:before {
      position: absolute;
      content: '';
      left: 0;
      right: 0;
      display: block;
      width: 100%;
      height: 1px;
      border-bottom: 1px solid #ddd;
      top: 50%;
      z-index: 1;
      @include transform(translate(0, -50%));
    }
    .utb--page-title {
      position: relative;
      padding: 0 30px;
      &:after {
        position: absolute;
        content: '';
        left: 0;
        right: 0;
        top: 0;
        display: block;
        width: 100%;
        background-color: white;
        height: 100%;
        z-index: -1;
      }
    }
  }
  .utb--page-title {
    margin-bottom: 0;
    z-index: 10;
  }
}

//landing page featured product stretch fix
.column-featured-product {
  .utb--post-img-wrap {
    .utb--post-img {
      img {
        min-width: auto !important;
      }
    }
  }
}

.utb--page {
  padding: 0 0 70px 0;
}

.utb--content {
  min-height: 1px;
  width: 100%;
  &.content-default {

  }
  &.content-tpl {

  }
}

.single-content,
.utb--content {
  p {
    margin-bottom: 1rem;
    font-size: 19px;
    line-height: 1.4em;
  }
  a {
    display: inline;
    border-bottom: 1px dotted #afafaf;
    color: $color-1;
    &:hover,
    &:focus {
      color: $color-3;
      border: none;
    }
  }
  p,li {
    color: $color-2;
  }
  h1, h2, h3, h4, h5, h6 {
    margin-top: 30px;
    font-weight: 500;
    line-height: 1.2;
  }
  h1 {
    font-size: 1.85rem;
  }
  h2 {
    font-size: 1.4rem;
    font-weight: bold;
  }
  h2 {font-size: 1.75rem;}
  h3 {font-size: 1.5rem;}
  h4 {font-size: 1.1rem;}
  h5 {font-size: 0.8rem;}
  h6 {font-size: 0.6rem;}
  blockquote {
    margin-top: 40px;
    margin-bottom: 40px;
    border-left: 1px solid #ccc;
    text-align: left;
    p, li {
      font-size: 20px;
      font-style: italic;
      color: #888;
      margin-left: 30px;
      margin-right: 30px
    }
  }
  ul,ol {
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 0 0 0 40px;
    li {
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      a {
        display: inline;
        color: $color-1;
        border-bottom: 0;
        &:hover,
        &:focus {
          color: #a695bd;
          border: none;
          text-decoration: underline;
        }
      }
    }
  }
}

.utb--wrap {
  min-height: 1px;
  width: 100%;
  &.has-sidebar {
    &:after {clear: both; content: ''; display: block;}
    .utb--content {
      @media (min-width: 768px) {
        width: calc(100% - 280px);
        float: left;
        padding: 0 0 0 20px;
      }
      @media (max-width: 767px) {
        width: 100%;
      }
      box-sizing: border-box;
    }
  }
}

.utb--align-center {text-align: center;}

h1 {
  &.utb--page-title {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    color: $color-3;
    display: inline-block;
  }
}
