.utb--search-page {
  padding-bottom: 60px;
  .results-posts {
    .utb--post {
      display: inline-block;
      padding: 0 20px;
      margin-bottom: 20px;
      @media (min-width: 768px) {
        width: 33.33%;
      }
      @media (max-width: 767px) {
        width: 50%;
      }
      @media (max-width: 575px) {
        width: 100%;
        margin-bottom: 0px;
      }
      .utb--post-title {
        font-size: 22px;
      }
    }
  }
}

.utb--posts {
  &.results-posts {
    &.loading {
      &:before {
        top: 100px;
        background-position: top;
      }
    }
  }
}

.utb--post-from {
  font-weight: 700;
  color: #e5b223;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 10px;
  display: block;
}

.search-form {
  position: relative;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 60px;
  padding-bottom: 30px;
  &:after {
    position: absolute;
    bottom: 0;
    max-width: 560px;
    left: 50%;
    @include transform(translate(-50%));
    width: 100%;
    display: block;
    content: '';
    height: 1px;
    border-top: 1px solid #ccc;
  }
  p {
    display: block;
    line-height: 1.4em;
    color: #5f6060;
    + form {
      padding-top: 15px;
    }
  }
  span {margin-right: 15px;}
  .btn {cursor: pointer;}
  form {
    &:not(.controls) {padding-bottom: 25px;}
    &.controls {
      fieldset {
        padding-bottom: 25px;
      }
    }
  }
  .search-input-wrap {
    padding-top: 15px;
    padding-bottom: 25px;
  }
  input[type="text"] {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    color: #495057;
    background-color: #fff;
    background-image: none;
    box-sizing: border-box;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    display: block;
    width: 100%;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    &:focus {
      color: #495057;
      background-color: #fff;
      border-color: #e5b223;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(229,178,35,0.25);
    }
  }
}

#content {
  position: relative;
}

#content.loading > * {
  opacity:0.2;
}

.no-results-404 {
  padding: 0 0 60px 0;
  text-align: center;
  width: 100%;
  p {
    font-weight: bold;
    font-size: 20px;
  }
}
