.followers,
.utb--share {
	a {
		width: 40px;
    height: 40px;
		font-size: 18px;
    line-height: 42px;
    display: inline-block;
    background: transparent;
    border: 1px solid #afafaf;
    color: #999;
    border-radius: 50%;
    text-align: center;
		@include transition(all 0.1s ease-in-out);
		&:hover,
		&:focus {
			color: white;
			border: 1px solid #a695bd;
			background: #a695bd;
		}
	}
}
.followers {
	a {
		+ a {
			margin-left: 20px;
		}
	}
}
.utb--share {
	list-style: none;
	li {
		+ li {
			margin-top: 15px;
		}
	}
}

.gform_ajax_spinner {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(242,242,240,0.9);
	left: 0;
	top: 0;
}

.alink {
	display: inline;
	border-bottom: 1px dotted #afafaf;
	color: #999;
	&.alink-big {
		font-size: 1.5rem;
	}
	&.dark {
		color: #afafaf;
		&:hover,
		&:focus {
			border: none;
	    text-decoration: none;
	    color: #393939;
		}
	}
	&.serious {
		font-weight: bold;
		text-transform: uppercase;
	}
	&.gold {
		color: #dfba58;
		&.light-hover {
			&:hover,
			&:focus {
				color: white;
				border-color: transparent;
			}
		}
		&.dark-hover {
			&:hover,
			&:focus {
				color: $color-3;
				border-color: transparent;
			}
		}
		&.purple-hover {
			&:hover,
			&:focus {
				color: #a695bd;
				border-color: transparent;
			}
		}
	}
	&.solid {border-bottom: 1px solid #444;}
}

.btn {
	display: inline-block;
	border: 1px solid transparent;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	@include transition(background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out);
	text-transform: uppercase;
	font-weight: normal;
	cursor: pointer;
	&.btn-size-small,
	&.btn-size-med {
		padding: .375rem .75rem;
		@include border-radius(20px);
		line-height: 1.5;
	}
	&.btn-size-small {
    font-size: 14px;
	}
	&.btn-size-med {
		font-size: 15px;
	}
	&.btn-size-large {
		font-size: 16px;
		padding: 10px 20px;
		@include border-radius(30px);
		line-height: 1.5;
		display: block;
	}
	&.btn-solid {
		border: 1px solid transparent;
		&.btn-light {
			color: $color-3;
		}
		&.btn-dark {

		}
		&.btn-gold {
			color: white;
			background-color: $color-1;
		}
		&.btn-purple {
			background-color: #4e3177;
			color: #fff;
		}
		&.btn-gold,
		&.btn-purple {
			&:hover,
			&:focus {
		    border: 1px solid #a695bd;
		    background-color: #a695bd;
			}
		}
	}
	&.btn-outline {
		background-color: transparent;
		&.btn-white {
			border: 1px solid white;
			color: white;
			&:hover,
			&:focus {
		    border: 1px solid white;
		    background-color: white;
				color: $color-3;
			}
		}
		&.btn-light {
			border: 1px solid #aeaeae;
			color: white;
			&:hover,
			&:focus {
		    border: 1px solid $color-1;
		    background-color: $color-1;
			}
			&.dark-text {
				color: $color-3;
				&:hover,
				&:focus {
				  color: white;
				}
			}
		}
		&.btn-purple {
			border: 1px solid #a695bd;
			color: #4c237f;
			&:hover,
			&:focus {
		    border: 1px solid #a695bd;
		    background-color: #a695bd;
				color: white;
			}
		}
		&.btn-gold {

		}
	}
}

.img-fluid {
	max-width: 100%;
	height: auto;
	display: inline;
}

//titles
h2 {
	&.utb--subtitle {

	}
}

hr {
	&.divider-small {
		max-width: 575px;
		margin-left: auto;
		margin-right: auto;
	}
}

.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
	box-sizing: border-box;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	&:focus {
		color: #495057;
		background-color: #fff;
		border-color: #e5b223;
		outline: 0;
		box-shadow: 0 0 0 0.2rem rgba(229,178,35,0.25);
	}
}
