@media only screen and (min-width: 768px) {
  .alignfull {
    &:not(.wp-block-button) {
      margin-left: calc(50% - 50vw);
      margin-right: calc(50% - 50vw);
      width: auto;
      max-width: 1000%;
    }
  }

  .alignwide {
    &:not(.wp-block-button) {
      margin-left: calc(25% - 25vw);
      margin-right: calc(25% - 25vw);
      width: auto;
      max-width: 1000%;
    }
  }

  .alignwide img,
  .alignfull img {
    display: block;
    margin: 0 auto;
  }
  .aligncenter {
  	text-align: center;
  }
  .alignleft {
  	float: left;
  }
  .alignright {
  	float: right;
  }
  img {
    &.aligncenter {

    }
    &.alignleft {
      margin: 0 30px 30px 0;
    }
    &.alignright {
      margin: 0 0 30px 30px;
    }
  }
}

figure.alignleft,
.wp-caption.alignleft {
	margin: 20px 30px 30px 0;
	@media (max-width: 667px) {
		margin: 10px 0 30px 0;
		width: 100%;
	}
}
figure.alignright,
.wp-caption.alignright {
	margin: 20px 0 30px 30px;
	@media (max-width: 667px) {
		margin: 10px 0 30px 0;
		width: 100%;
	}
}
figure.aligncenter,
.wp-caption.aligncenter {
	display: block;
	margin: 0 auto;
	@media (max-width: 667px) {
		margin: 10px 0 30px 0;
		width: 100%;
	}
}

.wp-caption {
	margin: 20px 0;
	text-align: left;
	padding: 0 0 0 15px;
	.wp-caption-text {
		display: block;
		font-size: 14px;
		line-height: 28px;
		margin-top: 10px;
	}
}

blockquote {
	background: transparent;
	margin: 0 0 0;
	font-style: italic;
	padding: 0;
	text-align: center;

	cite {
		display: block;
		font-size: 18px;
		margin-top: 17px;
	}

	p:last-of-type {
		margin-bottom: 0;
	}

	&.is-large.wp-block-quote {
		margin: 0 0 0;
		padding: 0;
		cite {
			text-align: center;
		}
	}

	&.wp-block-pullquote {
		border-top: 2px solid;
		border-bottom: 2px solid;
		padding:  0;
	}
}

.wp-block-button {
	margin-bottom: 0;
	text-align: left;
  margin-bottom: 20px;
	.wp-block-button__link:not(.has-background) {
    display: inline-block;
  	border: 1px solid transparent;
  	text-align: center;
  	white-space: nowrap;
  	vertical-align: middle;
  	@include transition(background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out);
  	text-transform: uppercase;
  	font-weight: normal;
		padding: .375rem .75rem;
		@include border-radius(20px);
    font-size: 14px;
		line-height: 1.5;
		color: white;
		background-color: $color-1;
		&:hover,
		&:focus {
	    border: 1px solid #a695bd;
	    background-color: #a695bd;
		}
	}
}

@media (min-width: 993px) {
  .aligncenter {text-align: center;}
  .alignleft {float: left;}
  .alignright {float: right;}
}

picture {
  &.aligncenter {

  }
  &.alignleft {
    margin: 0 30px 30px 0;
  }
  &.alignright {
    margin: 0 0 30px 30px;
  }
}
