.container {
	width: 100%;
	max-width: 1200px;
	box-sizing: border-box;
	@media (max-width: 767px) {
		&:not(.fluid) {
			max-width: 580px;
		}
	}
	@media (min-width: 668px) {
	padding-right: 50px;
	padding-left: 50px;
	}
	@media (max-width: 667px) {
	padding-right: 20px;
	padding-left: 20px;
	}
	margin-right: auto;
	margin-left: auto;
	@extend .clear;
	&.fluid {
		max-width: 100%;
	}
}

.utb--compact {
	margin-left: auto;
	margin-right: auto;
	max-width: 720px;
	&.compact-small {max-width: 570px;}
}

.section-pad {padding: 60px 0;}

.grid {
	@extend .clear;
	display: block;
	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap; /* Safari */
  flex-wrap: wrap;
	&.align-middle {
		-ms-flex-align: center;
		align-items: center;
	}
	&.align-bottom {
		-ms-flex-align: end;
		align-items: flex-end;
	}
	&.col-pad {
		position: relative;
		//column padding
		.column {padding: 0 20px;}
		margin-left: -20px;
		margin-right: -20px;
	}
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.mix,
.gap {
	position: relative;
	&:not(.grid) {
		display: inline-block;
	}
  vertical-align: top;
	&:before {
    content: '';
    display: inline-block;
	}
}

.column {
	display: inline-block;
	box-sizing: border-box;
	min-height: 1px;
	@media (min-width: 768px) {
		&.c1-2 {width: 50%;}
		&.c1-3 {width: 33.33%;}
		&.c1-4 {width: 25%;}
		&.c1-5 {width: 20%;}
		&.c2-3 {width: 66.66%;}
		&.c1-6 {width: 16.66%;}
	}
}
