.audio-player {
  &:after {clear: both; display: block; content: '';}
  @media (max-width: 767px) {
    -ms-flex-align: initial;
		align-items: initial;
    display: block;
    text-align: center;
  }
  .player-controls {
    position: relative;
    @media (min-width: 768px) {
      width: calc(100% - 260px);
      float: left;
      margin-top: 3px;
    }
    @media (max-width: 767px) {
      margin-top: 15px;
      margin-bottom: 15px;
      width: 100%;
    }
    display: inline-block;
    &:after {clear: both; display: block; content: '';}
    #seekObjContainer {
      display: inline-block;
      width: calc(100% - 100px);
      float: left;
      height: 14px;
      padding: 2.5px 0;
      box-sizing: border-box;
    }
    .start-time,
    .end-time {
      color: white;
      font-size: 14px;
      display: inline-block;
      vertical-align: middle;
      width: 50px;
      box-sizing: border-box;
      float: left;
    }
    .start-time {
      text-align: left;
    }
    .end-time {
      text-align: right;
    }
    progress {
      width: 100%;
      box-sizing: border-box;
      vertical-align: top;
      -webkit-writing-mode: horizontal-tb !important;
      &[value] {
        -webkit-appearance: none;
        appearance: none;
        background: none;
        border-radius: 10px;
        color: blue;
        height: 8px;
        box-sizing: border-box;
        &::-webkit-progress-bar {
          background-color: transparent;
          border-radius: 8px;
          border: 1px solid white;
          color: blue;
        }
        &::-webkit-progress-value {
          background-color: white;
          border-radius: 6px;
        }
      }
    }
  }
}

.play-state {
  position: relative;
  width: 42px;
  height: 42px;
  display: inline-block;
  border-radius: 50%;
  box-sizing: border-box;
  color: white;
  @media (min-width: 768px) {
    float: left;
    border: 1px solid white;
    margin-right: 28px;
  }
  @media (max-width: 767px) {
    background-color: $color-1;
  }
  cursor: pointer;
  &:hover,
  &:focus {
    @media (min-width: 768px) {
      border: 1px solid $color-1;
      color: $color-1;
    }
  }
  i {
    position: absolute;
    left: 50%;
    top: 50%;
    @include transform(translate(-50%, -50%));
    &.icon-control-play {
      margin-left: 2px;
    }
  }
}

.audio-title {
  display: block;
  text-align: center;
  color: white;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 10px;
  @media (max-width: 767px) {
    margin-bottom: 15px;
  }
}
.audio-player {
  /* Volume */
  .player-volume {
    width: 190px;
    @media (min-width: 768px) {
      float: left;
      padding-left: 30px;
    }
    @media (max-width: 767px) {
      display: inline-block;
    }
    box-sizing: border-box;
    i {
      color: white;
      font-size: 16px;
      line-height: 14px;
      vertical-align: middle;
      box-sizing: border-box;
      &.icon-volume-1 {padding-right: 5px;}
      &.icon-volume-2 {padding-left: 5px;}
    }
  }
  input{
    &[type='range'] {
      margin: 0;
      vertical-align: middle;
      outline: 0;
      padding: 0;
      box-sizing: border-box;
      -webkit-appearance: none;
      -moz-apperance: none;
      border-radius: 3px;
      height: 3px;
      width: 110px;
      background-image: -webkit-gradient(linear,
          left top,
          right top,
          color-stop(50%, #e5b223),
          color-stop(50%, #fbf3dc));

      background-image: -moz-linear-gradient(left center,
          #e5b223 0%, #e5b223 50%,
          #fbf3dc 50%, #fbf3dc 100%);
          input[type="range"]::-moz-range-track {
          border: none;
          background: none;
          outline: none;
      }
      &:focus {
        outline: none;
        border: none;
      }
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        background-color: white;
        height: 8px;
        width: 8px;
        border-radius: 50%;
        cursor: pointer;
        @include transition(all .1s);
        transform: scale(1);
        &:hover {
          transform: scale(2);
        }
      }

      &::-moz-range-thumb {
        -moz-appearance: none;
        background-color: white;
        border: none;
        height: 8px;
        width: 8px;
        border-radius: 50%;
        cursor: pointer;
      }
      /* All the same stuff for IE */
      &::-ms-thumb {
        background: $color-1;
        height: 8px;
        width: 8px;
      	@include border-radius(50%);
        border: 0;
        @include transition(all .1s);
        @include transform(scale(1));
        cursor: pointer;
      }
      &::-ms-track {
        width: 100%;
        cursor: pointer;
        height: 3px;
        background: white;
        border: 0;
        /* Hides the slider so custom styles can be added */
        background: transparent;
        border-color: transparent;
        color: transparent;
      }
      &::-ms-fill-lower {
        background: white;
        border-radius: 0;
      }
      &::-ms-fill-upper {
        background: $color-1;
        border-radius: 0;
      }
      &::-ms-tooltip {
        display: none;
      }
      &:hover {
        &::-webkit-slider-thumb,
        &::-moz-range-thumb,
        &::-ms-thumb {
          transform: scale(2);
          background-color: $color-1;
        }
      }
      &:focus {
      //&::-webkit-slider-runnable-track {background: white;}
        //&::-ms-fill-lower {background: white;}
      //  &::-ms-fill-upper {background: white;}
      }
    }
  }
}

.video-container {
  position: relative;
  width: 100%;
  padding: 0 20px;
  @media (max-width: 575px) {
    padding: 0;
  }
  box-sizing: border-box;
  .video-aspect {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 0;
    padding-top: 56.25%;
    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 50%;
      top: 50%;
      @include transform(translate(-50%, -50%));
    }
  }
}
