.nice-select {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: inline-block;
  outline: none;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
	-ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
  width: auto;
  .list {
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    box-sizing: border-box;
    top: 100%;
    left: 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    -webkit-transition: all 0.1s cubic-bezier(0.5, 0, 0, 0.2), opacity 0.10s ease-out;
    transition: all 0.1s cubic-bezier(0.5, 0, 0, 0.2), opacity 0.10s ease-out;
    z-index: 9;
    li {
      display: block;
    }
  }
  .option {
    cursor: pointer;
    font-weight: 400;
    list-style: none;
    outline: none;
    text-align: left;
	}
  &.open {
    .list {
      opacity: 1;
      pointer-events: auto;
    }
  }
  &.disabled {
    pointer-events: none;
  }
	&:after {
		position: absolute;
		right: 0;
    display: inline-block;
    width: 0;
    height: 0;
   	margin-top: 4px;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
		box-sizing: border-box;
	}
	&.open {
		&:after {
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg); }
	}
}

//header language select styles
.header-main,
.overlay-row {
  .nice-select {
  	text-decoration: none;
  	text-transform: uppercase;
  	font-size: 15px;
  	line-height: 15px;
  	color: #393939;
  	box-sizing: border-box;
  	> span {padding: 10.5px 13px 10.5px 0;}
  	.list {
      border: 1px solid rgba(0,0,0,.15);
      border-radius: .25rem;
      padding: 10px 0;
      margin: 4px 0 0;
  	}
    .option {
      min-height: 30px;
      line-height: 30px;
      text-transform: uppercase;
  		font-size: 15px;
      padding-left: 25px;
      padding-right: 25px;
  		&:hover,
  		&:focus {
  			text-decoration: none;
      	background-color: #f8f9fa;
  			color: #e5b223;
  		}
  		&.disabled {cursor: default; }
  	}
  }
}

.no-csspointerevents .nice-select .list {
  display: none; }

.no-csspointerevents .nice-select.open .list {
  display: block; }
