.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}

#subscribe-modal {
  display: block;
}


.utb--modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  .gform_wrapper {margin: 16px -5px;}
  .utb--news-form .gform_wrapper .gform_footer,
  .utb--news-form .gform_wrapper .gform_body .gform_fields .gfield {
    padding: 0 5px;
  }
  @media (max-width: 767px) {
    width: 100%;
    height: 100%;
  }
  .modal-content {
    width: 100%;
    max-width: 600px;
    min-width: 480px;
    padding: 40px;
    @media (max-width: 767px) {
      min-width: 100%;
      max-width: 100%;
      height: 100%;
      padding: 60px 30px 30px 30px;
    }
    background-color: white;
    overflow: hidden;
    box-sizing: border-box;
    @include transform(scale(0));
    @include transition(all 0.2s ease-in-out);
    transform-origin: center;
    .utb--news-form {
      padding: 15px 0;
    }
  }
  &.is-active {
    z-index: 1010;
    visibility: visible;
    opacity: 1;
    .modal-content {
      overflow: visible;
      @include transform(scale(1));
    }
  }
}
#close-modal {
  position: absolute;
  @media (min-width: 768px) {
    right: -12px;
    top: -12px;
  }
  @media (max-width: 767px) {
    right: 15px;
    top: 15px;
  }
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: white;
  background-color: #e5b223;
  &:hover {
    background-color: #a695bd;
  }
  &:before,
  &:after {
    position: absolute;
    left: 15px;
    top: 7.5px;
    content: ' ';
    height: 16px;
    width: 2px;
    background-color: white;
  }
  &:before {transform: rotate(45deg);}
  &:after {transform: rotate(-45deg);}
}
.utb--modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  z-index: -2;
  opacity: 0;
  visibility: hidden;
  @include transition(all 0.2s ease-in-out);
  &.is-active {
    z-index: 1000;
    visibility: visible;
    opacity: 1;
  }
}
