.mobile-overlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
  z-index: 99;
	background-color: $bg-color-2;
	display: none;
	.overlay-head {
		position: relative;
		.logo {
			display: inline-block;
			a {
				display: block;
			}
		}
		.inner {
			padding: 25px 0;
			border-bottom: 1px solid #444;
		}
	}
	.overlay-body {
		padding: 70px 0 0 0;
		.overlay-sidebar{
			@media (min-width: 961px) {padding-left: 20px;}
			@media (max-width: 960px) {
				width: 100%;
				padding: 0 0 50px 0;
			}
			@media (max-width: 667px) {text-align: center;}
		}
		.overlay-content{
			@media (min-width: 961px) {padding-right: 20px;}
			@media (min-width: 668px) and (max-width: 960px) {
				.nice-select {
					.list {
						right: 0;
						left: auto;
					}
				}
			}
			@media (max-width: 960px) {
				width: 100%;
			}
			@media (max-width: 667px) {
				.nice-select {
					margin-top: 15px;
					display: block;
					padding: 10.5px 15px;
					background-color: #333;
					color: white;
					text-align: center;
					@include border-radius(20px);
					@include transition(all 0.15s ease-in-out);
					font-size: 14px;
					&:after {right: auto;}
					&:hover,
					&:focus {
						background-color:  $color-1;
						color: white;
					}
					.list {
						right: 0;
						left: 0;
					}
				}
			}
		}
	}
}

.overlay-sidebar {
	> h3 {
		color: white;
		display: block;
		font-size: 24px;
		line-height: 30px;
		@media (max-width: 667px) {
			font-size: 20px;
			line-height: 26px;
		}
		font-weight: 400;
		margin-bottom: 20px;
	}
	.address {
		padding: 40px 0 20px 0;
		font-size: 16px;
    line-height: 22px;
		[itemprop="name"] {
			color: #5f6060;
			&:after {
				content: ', ';
				display: inline;
			}
		}
		[itemprop="address"] {
			color: #5f6060;
			span {

			}
		}
	}
	.site-number-mobile {
		@media (min-width: 576px) {display: none;}
		@media (max-width: 575px) {
			display: block;
			margin-top: 15px;
			a {
		    color: #afafaf;
		    text-decoration: underline;
			}
		}
	}
}

.overlay-row {
	padding-bottom: 50px;
	+ .overlay-row {
		padding-top: 20px;
		border-top: 1px solid #444;
	}
	.global-nav {
		display: inline-block;
		@extend .clear;
		@media (min-width: 668px) {
			width: 75%;
			vertical-align: middle;
		}
		@media (max-width: 667px) {
			display: block;
		}
		li {
			@media (min-width: 668px) {
				display: inline-block;
				width: 33.33%;
				float: left;
			}
			@media (max-width: 667px) {
				display: block;
				+ li {margin-top: 15px;}
			}
			a {
				text-decoration: none;
				text-transform: uppercase;
				line-height: 15px;
				color: #a695bd;
				padding: 10.5px 15px;
				box-sizing: border-box;
				@media (min-width: 668px) {
					display: inline-block;
					font-size: 15px;
				}
				@media (max-width: 667px) {
					display: block;
					background-color: #333;
					color: white;
					text-align: center;
					@include border-radius(20px);
					@include transition(all 0.15s ease-in-out);
					font-size: 14px;
					&:hover,
					&:focus {
						background-color:  $color-1;
						color: white;
					}
				}
				&:hover,
				&:focus {
					color: white;
				}
			}
			&.special {
				a {
					background-color: $color-1;
					color: white;
					@include border-radius(20px);
					@include transition(all 0.15s ease-in-out);
					font-size: 14px;
					@media (max-width: 667px) {
						display: block;
						text-align: center;
					}
					&:hover,
					&:focus {
						background-color:  #a695bd;
						color: white;
					}
				}
			}
		}
	}
	.nice-select {
		color: #a695bd;
		vertical-align: middle;
		&:hover {
			color: white;
		}
		.list {
			color: #393939;
		}
	}
	.nav-link {
		text-decoration: none;
		text-transform: uppercase;
		display: block;
		&.parent {
			color: #e5b223;
			font-size: 22px;
			+ ul {margin-top: 20px;}
			&:hover,
			&:focus {
				color: white;
			}
		}
		&.child {
			color: #999;
			font-size: 14px;
			&:hover,
			&:focus {
				color: white;
			}
		}
	}
	> ul {
		list-style: none;
		> li {
			display: inline-block;
			margin: 0 30px 15px 0;
		}
	}
}
