.top-bar {
	background-color: $bg-color-1;
	padding: 12px 0;
	box-sizing: border-box;
	font-size: 14px;
	line-height: 20px;
	color: rgba(256,256,256,.7);
	.site-tagline {
		float: left;
		font-size: inherit;
		font-style: italic;
	}
	.site-number {font-style: italic;}
	.top-right {
		float: right;
		text-align: left;
		@media (max-width: 667px) {display: none;}
	}
	a {
		text-transform: uppercase;
		text-decoration: none;
		color: rgba(256,256,256,.7);
		&:hover,
		&:focus {color: white;}
	}
	ul {
		display: inline-block;
		&.menu {
			@media (max-width: 991px) {display: none;}
		}
	}
}

.top-right {
	.menu {
		margin-left: 30px;
		li {
			+ li {
				margin-left: 30px;
			}
		}
	}
}

.site-header {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			display: inline-block;
		}
	}
}

.header-main {
	position: relative;
	&.is-home {
		.logo {
			max-width: 150px;
		}
		.main-right {
			padding: 46px 0;
			@media (max-width: 991px) {
				padding: 52px 0;
			}
		}
	}
	.logo {
		padding: 20px 0 12px 0;
		box-sizing: border-box;
		display: inline-block;
		max-width: 130px;
	}
	.main-right {
		float: right;
		padding: 39px 0;
		@media (max-width: 991px) {
			padding: 45.5px 0;
		}
		> nav,
		> div,
		> button {
			display: inline-block;
		}
		> button {
			background: none;
			border: 0;
			outline: 0;
			cursor: pointer;
		}
		.navigation {
			margin-right: 35px;
			@media (max-width: 1060px) {
		    margin-right: 32px;
			}
			@media (max-width: 991px) {display: none;}
		}
		.nice-select {
			@media (max-width: 667px) {display: none;}
		}
	}
}

.menu-toggle {
	position: absolute;
	right: 0;
	z-index: 999;
	right: 50px;
	@media (max-width: 667px) {
		right: 20px;
	}
	top: 50%;
	@include transform(translate(0, -50%));
	width: 30px;
	height: 16px;
	cursor: pointer;
	span {
		display: block;
    position: absolute;
    height: 2px;
    width: 50%;
    background: #b5b6b6;
    opacity: 1;
		@include transform(rotate(0deg));
		@include transition(.15s ease-in-out);
		&:nth-child(1),
		&:nth-child(2) {
    	top: 0px;
		}
		&:nth-child(odd) {
			left: 0px;
		}
		&:nth-child(even) {
			left: 50%;
		}
		&:nth-child(3),
		&:nth-child(4) {
			top: 7px;
		}
		&:nth-child(5),
		&:nth-child(6) {
    	top: 14px;
		}
	}
	&.is-active {
		right: 60px;
		@media (max-width: 667px) {
			right: 30px;
		}
		span {
			&:nth-child(1) {
				left: 5px;
				top: 2px;
			}
			&:nth-child(1),
			&:nth-child(6) {
				@include transform(rotate(45deg));
			}
			&:nth-child(2) {
				left: calc(50% - 5px);
				top: 2px;
			}
			&:nth-child(2),
			&:nth-child(5) {
				@include transform(rotate(-45deg));
			}
			&:nth-child(3) {
				left: -50%;
				opacity: 0;
			}
			&:nth-child(4) {
				left: 100%;
				opacity: 0;
			}
			&:nth-child(5) {
				left: 5px;
    		top: 7px;
			}
			&:nth-child(6) {
				left: calc(50% - 5px);
				top: 7px;
			}
		}
	}
}

.search-toggle {
	margin: 0 70px 0 30px;
	@media (max-width: 575px) {
		margin: 0 50px 0 30px;
	}
	vertical-align: middle;
	i {
		font-size: 20px;
		color: #b5b6b6;
	}
	&.is-active {
		i {color: $color-1;}
	}
}

.top-search {
	background-color: $color-1;
	padding: 25px 0;
	display: none;
	box-sizing: border-box;;
	form {display: block;}
	input {
		outline-offset: -2px;
    -webkit-appearance: none;
		display: block;
		width: 100%;
		border: 0;
		outline: 0;
		background: rgba(256,256,256,.4);
		padding: .5rem 1rem;
		font-size: 1.25rem;
		line-height: 1.5;
		box-sizing: border-box;
		@include transition(border-color ease-in-out .15s,box-shadow ease-in-out .15s);
		@include placeholder {
			color: white;
		}
		&:focus {
			color: #495057;
	    background-color: #fff;
	    border-color: #80bdff;
	    outline: 0;
	    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
		}
	}
}
