.header-main {
  .nice-select {
    .list {color: #393939;}
    &:hover,
    &:focus {
      color: $color-1;
    }
    @media (max-width: 1060px) {
      font-size: 14px;
      line-height: 14px;
    }
  }
  .navigation {
  	ul.menu {
  		> li {
        &:hover,
        &:focus {
          a {color: #b28a38;}
          > ul.sub-menu {
            visibility: visible;
            opacity: 1;
          }
        }
  			+ li {
  				margin-left: 8px;
  				vertical-align: middle;
  			}
        > ul.sub-menu {
          position: absolute;
          visibility: hidden;
          opacity: 0;
          z-index: 10;
          left: 50%;
          @include transform(translate(-50%));
          white-space: nowrap;
          margin: 0 auto;
          top: 100%;
          width: auto;
          background-color: rgba(255,255,255,0.9);
          box-shadow: 0 0 15px rgba(0,0,0,0.1);
          text-align: center;
          padding: 10px 0;
          li {
            display: block;
            a {
              padding: 10px 20px;
              display: block;
              box-sizing: border-box;
              font-size: 15px;
              line-height: 15px;
              color: #393939;
              &:hover,
              &:focus {
                color: #b28a38;
              }
            }
          }
        }
       &.menu-item-has-children {
         position: relative;
       }
        &.special {
          margin-left: 23px;
          > a {
            background-color: #a695bd;
            border: 0px;
            color: white;
            box-sizing: border-box;
            @include border-radius(20px);
            @include transition(all 0.15s ease-in-out);
            font-size: 14px;
            padding: 10.5px 12px;
            @media (max-width: 1060px) {
              padding: 10.5px 12px;
            }
            &:hover,
            &:focus {
              background-color: $color-1;
              color: white;
              border: 0;
            }
          }
        }
        &:not(.special) {
          > a {
            margin: 10.5px 12px;
            @media (max-width: 1060px) {
              margin: 10.5px 12px;
            }
          }
        }
  			> a {
  				text-decoration: none;
  				text-transform: uppercase;
  				font-size: 15px;
  				line-height: 15px;
  				color: $color-2;
  				box-sizing: border-box;
  				display: block;
          @media (max-width: 1060px) {
            font-size: 14px;
            line-height: 14px;
          }
  				&:hover,
  				&:focus {
  					color: #b28a38;
  				}
  			}
        &.current-menu-item:not(.special),
        &.current-page-ancestor {
          > a {
            color: #7561a3;
            border-bottom: 1px dotted #ccc;
          }
        }
  		}
  	}
  }
}


ul.full-menu {
	&.full-menu-mobile {
		list-style: none;
    padding-top: 20px;
    border-top: 1px solid #444;
		> li {
      padding-bottom: 50px;
      &:last-child {display: none;}
			> a {
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        color: #e5b223;
  			font-size: 22px;
        + ul {margin-top: 20px;}
        &:hover,
  			&:focus {
  				color: white;
  			}
			}
			+ li {
				padding-top: 20px;
				border-top: 1px solid #444;
			}
			> ul {
				> li {
					display: inline-block;
					margin: 0 30px 15px 0;
          text-transform: uppercase;
          a {
            color: #999;
            font-size: 14px;
            &:hover,
            &:focus {
              color: white;
            }
          }
				}
			}
		}
	}
  &.full-menu-footer {
    @extend .clear;
  	display: block;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    > li {
      display: inline-block;
      box-sizing: border-box;
      min-height: 1px;
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      @media (min-width: 768px) {
        width: 16.66%;
      }
      @media (max-width: 767px) {
        width: 50%;
      }
      @media (max-width: 960px) and (min-width: 668px) {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          margin-bottom: 40px;
        }
      }
      @media (max-width: 960px) {
        text-align: center;
      }
      @media (max-width: 768px) {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
          margin-bottom: 40px;
        }
      }
      a {display: block;}
      > a {
        text-transform: uppercase;
        color: black;
        margin-bottom: 10px;
      }
      > ul {

        li {
          a {
            color: rgba(0,0,0,0.5);
            &:hover,
            &:focus {
              color: black;
            }
          }
        }
      }
    }
  }
}
