.site-footer {
	background-color: $bg-color-1;
	padding: 60px 0;
	box-sizing: border-box;
	.column {
		h5 {
			margin-bottom: 10px;
			color: white;
			font-size: 17px;
			font-weight: 400;
		}
		&:nth-child(2),
		&:nth-child(3) {
			text-align: center;
		}
		&:nth-child(3) {
			@media (min-width: 801px) {text-align: right;}
			.logo {
				display: inline-block;
				margin-bottom: 10px;
			}
		}
		@media (min-width: 1025px) {
			&:nth-child(2) {
				padding: 0 40px;
			}
		}
		&.footer-follow {
			h5 {
				margin-bottom: 25px;
			}
		}
		@media (max-width: 800px) {
			width: 100%;
			text-align: center;
			&:nth-child(1),
			&:nth-child(2) {
				padding-bottom: 50px;
			}
		}
	}
}

.footer-portal {
	padding: 40px 0;
	box-sizing: border-box;
	@media (max-width: 575px) {display: none;}
	h5 {
		text-transform: uppercase;
		font-size: 16px;
		line-height: 24px;
		font-weight: 400;
		margin-bottom: 10px;
		a {
			color: black;
			&:hover,
			&:focus {
				text-decoration: underline;
			}
		}
	}
	ul {
		list-style: none;
		li {
			font-size: 16px;
			line-height: 24px;
			a {
				color: rgba(0,0,0,.5);
				&:hover,
				&:focus {
					text-decoration: underline;
					color: black;
				}
			}
		}
	}
	@media (max-width: 960px) {
		.column {text-align: center;}
	}
	@media (min-width: 668px) and (max-width: 960px) {
		.column {
			width: 33.33%;
			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3) {
				margin-bottom: 40px;
			}
		}
	}
	@media (max-width: 768px) {
		.column {
			width: 50%;
			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3),
			&:nth-child(4) {
				margin-bottom: 40px;
			}
		}
	}
}

.copyright {
	color: rgba(256,256,256,.6);
  font-size: 14px;
	line-height: 22px;
}

.site-footer {
	.menu {
		list-style: none;;
		li {
			display: inline-block;
			+ li {
				margin-left: 15px;
			}
			a {
				display: inline;
				border-bottom: 1px dotted #afafaf;
				color: #dfba58;
				font-size: 14px;
				line-height: 22px;
				&:hover {
					color: rgba(256,256,256,.6);
					border-bottom: 0;
				}
			}
		}
	}
	.contact-details {
		font-size: 14px;
		line-height: 22px;
		color: rgba(256,256,256,.6);
		margin-bottom: 15px;
	}
	.address {
		font-size: 14px;
		[itemprop="name"] {
			color: rgba(256,256,256,.6);
			&:after {
				content: ', ';
				display: inline;
			}
		}
		[itemprop="address"] {
			color: rgba(256,256,256,.6);
			span {

			}
		}
	}
}

.menu {
	&.footer-menu {
		list-style: none;
		li {
			display: inline-block;
			+ li {margin-left: 20px;}
			a {
				color: #dfba58;
				text-decoration: none;
				&:hover,
				&:focus {
					color: rgba(256,256,256,.6);
					border-bottom: 0px;
				}
			}
		}
	}
	&.global {
		li {

			a {
				border-bottom: 1px solid #444;
				&:hover,
				&:focus {
					color: #a695bd;
					border-bottom: 0px;
				}
			}
		}
	}
}

.address {
	font-size: 14px;
	line-height: 20px;
	[itemprop="name"] {
		display: inline;
	}
	[itemprop="address"] {
		display: inline;
		span {

		}
	}
}
