.utb--my-account {
  padding: 50px 0;
  .woocommerce-MyAccount-navigation {
    width: 180px;
    ul {
      li {
        font-weight: 300;
        font-size: 15px;
        a {
          background-color: white;
          color: #4b2685;
          padding: 10px;
          display: block;
          &:hover,
          &:focus {
            text-decoration: none;
            background-color: #f8f9fa;
            color: #e5b223;
          }
        }
        &.is-active {
          a {
            background-color: #4b2685;
            color: white;
          }
        }
        + li {
          margin-top: 5px;
        }
      }
    }
  }
  .woocommerce-MyAccount-content {
    width: calc(100% - 180px);
    padding-left: 50px;
    box-sizing: border-box;
    .woocommerce-message {
      background-color: transparent;
      border-top-color: transparent; //#4b2685
      padding: 30px 20px;
      text-align: center;
      &:before {display: none;}
      i {
        font-size: 40px;
        color: #4c3176;
      }
      p {
        display: block;
        font-size: 16px;
        line-height: 40px;
        color: #4c3176;
        padding: 20px 0 10px 0;
      }
    }
  }
}

.woocommerce-MyAccount-content {
  .woocommerce-Addresses {
    .woocommerce-Address {
      width: 45%;
    }
  }
  .woocommerce-Address-title {
    color: #404040;
    display: block;
    margin-bottom: 25px;
    h3 {
      margin-bottom: 0;
      display: inline-block;
      vertical-align: middle;
      font-size: 24px;
      line-height: 24px;
    }
    .edit {
      display: inline-block;
      vertical-align: middle;
      line-height: 24px;
      color: $color-1;
      &:hover {
        text-decoration: underline;
        color: #a695bd;
      }
    }
  }
  address {
    font-style: normal;
    line-height: 24px;
    font-size: 16px;
    color: #404040;
  }
}

.utb--store-dashboard {
  p {
    color: #404040;
    a {
      color: $color-1;
      &:hover {
        text-decoration: underline;
        color: #a695bd;
      }
    }
    &.user-welcome {
      margin-bottom: 25px;
    }
  }
}

.woocommerce-message[role="alert"] {
  border-top-color: $color-1;
  &:before {
    color: $color-1;
  }
}

.woocommerce-MyAccount-content {
  h3 {
    font-weight: bold;
    font-size: 26px;
    color: #404040;
    margin-bottom: 20px;
  }
}

.utb--form-action {padding: 20px 0;}

.default-msg-box {
  margin-bottom: 30px;
}

.woocommerce {
  form {
    legend {
      font-size: 16px;
      margin-bottom: 15px;
      padding-top: 20px;
      font-weight: bold;
      color: #404040;
    }
    .form-row {
      padding: 0;
      margin: 0 0 15px;
      > span {
        font-size: 12px;
        color: #6b6b6b;
        em {
          font-style: normal;
        }
      }
      label {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
        color: #404040;
      }
      input.input-text,
      textarea,
      .select2-selection--single {
        .select2-selection__rendered {
          line-height: 24px;
          padding-left: 0;
        }
        .select2-selection__arrow {
          height: 38px;
          width: 38px;
          top: 0;
        }
        height: auto;
        padding: .375rem .75rem;
        font-size: 14px;
        line-height: 1.5;
        border-radius: 0;
        color: #495057;
        background-color: #fff;
        background-image: none;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        overflow: visible;
        @include placeholder {
          font-family: $font-1;
          color: #a9a9a9;
          font-size: 14px;
        }
        &:focus {
          color: #495057;
          background-color: #fff;
          border-color: #e5b223;
          outline: 0;
          box-shadow: 0 0 0 0.2rem rgba(229,178,35,0.25);
        }
      }
      &.form-row-first,
      &.form-row-last {
        width: 50%;

      }
      &.form-row-first {
        padding: 0 15px 0 0;
      }
      &.form-row-last {
        padding: 0 0 0 15px;
      }
    }
  }
}
