.utb--products {
  margin: 0 -25px;
  > article {
    margin-bottom: 50px;
    padding: 0 25px;
    box-sizing: border-box;
    opacity: 1;
    @include transition(all 0.2s ease-in-out);
    @media (max-width: 575px) {
      width: 100%;
    }
  }
  &.loading {
    > article {opacity: 0;}
  }
}

.woocommerce {
  span.onsale {
    min-height: none;
    min-width: none;
    padding: .202em;
    font-size: 1em;
    font-weight: 700;
    position: absolute;
    text-align: center;
    line-height: 36px;
    display: inline-block;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    top: -.5em;
    left: -.5em;
    margin: 0;
    border-radius: 50%;
    background-color: #4c3176;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    z-index: 9;
  }
}

.utb--products{
  #content {min-height: 200px;}
  .utb--product {
    .product-inner {
      box-sizing: border-box;
    }
    a.button {
      display: inline-block;
    	border: 1px solid transparent;
    	text-align: center;
    	white-space: nowrap;
    	vertical-align: middle;
    	@include transition(background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out);
    	text-transform: uppercase;
    	font-weight: normal;
      padding: .375rem .75rem;
  		@include border-radius(20px);
  		line-height: 1.5;
      font-size: 14px;
      border: 1px solid transparent;
      color: white;
      background-color: $color-1;
      &:hover,
      &:focus {
        border: 1px solid #a695bd;
        background-color: #a695bd;
      }
      &:after {display: none !important;}
      &.loading {
        border: 1px solid transparent !important;
        overflow: visible;
        &:focus {border: 1px solid transparent !important;}
        &:before {
          background-size: 50px;
          position: absolute;
          left: 50%;
          top: 50%;
          @include translate(-50%, -50%);
          display: inline-block;
          height: 50px;
          width: calc(100% + 2px);
        }
      }
      &.added {
        line-height: 1.5;
        font-size: 0;
        background-color: #4c3176;
        &:before {
          content: 'Added to cart';
          display: inline;
          font-size: 14px;
        }
      }
    }
    a {
      &.added_to_cart {
        display: none !important;
      }
    }
  }
}

.utb--products {
  .controls-pagination {
    position: relative;
    text-align: center;
    width: 100%;
    border-top: 1px solid #eeeeee;
  }
}

.utb--product {
  .product-image {
    display: inline-block;
    width: 150px;
    box-sizing: border-box;
    -webkit-transform: translate3d(0,0,0);
    picture {
      position: relative;
      width: 150px;
      height: 150px;
      overflow: hidden;
      img {
        @include transition(all 0.1s ease-in-out);
        transform-origin: center;
        -webkit-transform-origin: center;
        -webkit-backface-visibility: hidden;
      }
      &:hover {
        img {@include transform(scale(1.01));}
      }
    }
    + .product-content {padding-left: 20px;}
  }
  .product-content {
    width: calc(100% - 150px);
    box-sizing: border-box;
    a {
      h2 {
        color: #393939;
        line-height: 22px;
      }
      span:not(.search-everything-highlight-color) {
        color: #a8a8a8;
        display: block;
        font-size: 12px;
        margin-bottom: 15px;
      }
      &:hover {
        h2 {color: $color-1;}
        span {color: $color-3;}
      }
    }
  }
}
