.utb--cart {
  padding: 40px 0 70px 0;
  .utb--cart-body,
  .utb--cart-sidebar {
    display: inline-block;
    box-sizing: border-box;
  }
  .utb--cart-body {
    @media (min-width: 768px) {
      padding-right: 50px;
      width: calc(100% - 300px);
    }
  }
  .utb--cart-sidebar {
    background-color: #f4f4f4;
    border-radius: 5px;
    padding: 30px 25px;
    @media (min-width: 768px) {
      width: 300px;
    }
    &.cart-collaterals {
      .cart_totals {
        width: 100%;
        float: none;
      }
    }
  }
}

.utb-cart-items {
  .cart-items-head {
    .column {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold;
      color: #333;
      border-bottom: 1px solid #dfdfdf;
      padding-bottom: 15px;
      &.column-product {
        width: 60%;
      }
      &.column-qty {
        width: 25%;
        text-align: center;
      }
      &.column-total {
        width: 15%;
      }
    }
  }
  .cart-items-body {
    .actions {
      padding: 15px 0 25px 0;
    }
    .cart-item-row {
      padding: 20px 0;
      border-bottom: 1px solid #dedede;
    }
    .column {
      box-sizing: border-box;
      &.product-thumbnail {
        width: 100px;
      }
      &.product-name {
        width: calc(50% - 100px);
        padding-left: 20px;
        a {
          color: #43464b;
          font-weight: 700;
          font-size: 15px;
          line-height: 20px;
        }
      }
      &.product-price {
        width: 10%;
        padding: 20px;
        font-size: 15px;
        font-weight: 300;
      }
      &.product-quantity {
        width: 25%;
        text-align: center;
        .quantity {
          padding: 0 25px;
          margin-left: auto;
          margin-right: auto;
          display: inline-block;
          height: 40px;
        }
        .qty {
          width: 48px !important;
          height: 40px;
          font-size: 15px;
        }
        .quantity-button {
          width: 25px;
          font-size: 15px;
          line-height: 36px;
          height: auto;
        }
      }
      &.product-subtotal {
        width: 10%;
        font-weight: bold;
        font-size: 15px;
        .tax_label {display: none;}
      }
      &.product-remove {
        width: 5%;
        text-align: right;
        .remove {
          display: inline-block;
          color: #a1a5a8 !important;
          font-size: 20px;
          height: auto;
          width: auto;
          &:hover {
            background: none;
          }
        }
      }
      align-items: center;
      display: flex;
    }
  }
}

.woocommerce {
  .coupon {
    text-align: center;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    border: 1px dotted #e6e6e6;
    padding: 40px 50px;
    box-sizing: border-box;
    @media (max-width: 767px) {
      margin-bottom: 40px;
    }
    label {
      display: block;
      font-size: 26px;
      color: #444444;
      font-weight: bold;
      margin-bottom: 20px;
    }
    .btn {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      display: inline-block;
      vertical-align: middle;
      &:hover {
        background-color: $color-1;
        border: 1px solid $color-1;
      }
    }
    input {
      display: inline-block;
      vertical-align: middle;
      padding: .375rem .75rem;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      border: 1px solid #e3e3e3;
      border-right: 0px;
      font-size: 14px;
      line-height: 1.5;
      -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
      transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
      &:focus {
        border-color: #e5b223;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(229,178,35,0.25);
      }
    }
  }
  .actions {
    .button.btn-update {
      background-color: #a695bd;
      border: 0;
      color: white !important;
      box-sizing: border-box;
      -webkit-transition: all .15s ease-in-out;
      transition: all .15s ease-in-out;
      border-radius: 20px;
      font-weight: 300;
      text-transform: uppercase;
      font-size: 14px;
      padding: .375rem .75rem !important;
      line-height: 1.5 !important;
      border: 1px solid #a695bd;
      float: right;
      &:disabled {
        background-color: #a695bd !important;
        border: 1px solid #a695bd !important;
      }
      &:not(:disabled) {
        &:hover {
          background-color: $color-1 !important;
          border: 1px solid $color-1 !important;
        }
      }
    }
  }
}

.utb--cart,
.utb--checkout-sidebar {
  .container {
    @media (max-width: 767px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .wc-proceed-to-checkout {padding: 10px 0 !important;}
  .cart_totals {
    h2 {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold;
      color: #333;
      border-bottom: 1px solid #dfdfdf;
      padding-bottom: 10px;
    }
  }
  table.shop_table {
    border: 0;
    margin: 0;
    border-radius: 0;
    .cart-subtotal {
      th, td {
        padding: 10px 0;
        font-size: 15px;
        color: #7e8285;
      }
      td {
        .tax_label {display: none;}
        font-weight: bold;
        color: black;
      }
    }
  }
  tr.shipping {
    ul#shipping_method {
      li {
        padding: 0;
        text-indent: 0;
        list-style: none outside;
        + li {
          margin-top: 8px;
        }
        input {
          &[type="radio"]:checked,
          &[type="radio"]:not(:checked) {
              position: absolute;
              left: -9999px;
          }
          &[type="radio"]:checked + label,
          &[type="radio"]:not(:checked) + label {
              position: relative;
              padding-left: 28px;
              cursor: pointer;
              line-height: 20px;
              display: inline-block;
              color: #666;
          }
          &[type="radio"]:checked + label:before,
          &[type="radio"]:not(:checked) + label:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 18px;
            height: 18px;
            border: 1px solid #ddd;
            border-radius: 100%;
            background: #fff;
          }
          &[type="radio"]:checked + label:after,
          &[type="radio"]:not(:checked) + label:after {
            content: '';
            width: 12px;
            height: 12px;
            background: #4c3176;
            position: absolute;
            top: 3px;
            left: 3px;
            border-radius: 100%;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
          }
          &[type="radio"]:not(:checked) + label:after {
            opacity: 0;
            -webkit-transform: scale(0);
            transform: scale(0);
          }
          &[type="radio"]:checked + label:after {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
          }
          &[type="radio"]:not(:checked) + label:hover:after {
            content: '';
            width: 12px;
            height: 12px;
            background: #a695bd;
            position: absolute;
            top: 3px;
            left: 3px;
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
            border-radius: 100%;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
          }
        }
      }
    }
    th, td {
      font-size: 15px;
      color: #7e8285;
      border-top: 0 !important;
      padding: 10px 0 20px 0;
    }
    td {
      color: black;
      background: transparent !important;
    }
  }
  .shipping-calculator {
    td {
      border-top: 0px solid #dfdfdf !important;
      padding: 0 0 15px 0 !important;
      &:before {display: none !important;}
    }
    p {
      text-align: right;
    }
    .shipping-calculator-button {
      text-transform: uppercase;
      font-size: 14px;
      border-bottom: 1px dotted #dfdfdf;
      font-weight: bold;
      color: #4c287f;
      &:hover {
        color: $color-1;
        border-bottom: 0;
      }
    }
    .shipping-calculator-form {
      padding: 15px 0;
    }
  }
  .order-total {
    th {font-weight: 300;}
    th, td {
      font-size: 15px;
      color: #7e8285;
      border-top: 1px solid #dfdfdf !important;
      padding: 15px 0 !important;
    }
    td {
      color: black;
      font-size: 26px;
      line-height: 26px !important;
      font-weight: bold;
      text-align: right;
      background: transparent !important;
      .includes_tax {display: none;}
    }
  }
}

.woocommerce-cart .blockUI.blockOverlay,
.woocommerce-checkout .blockUI.blockOverlay{
  background-color: rgb(244, 244, 244) !important;
}
