.utb--endpoint {
  padding: 45px 0 70px 0;
  .container {
    padding-right: 50px;
    padding-left: 50px;
  }
}

.utb--checkout-body,
.utb--checkout-sidebar {
  h3 {
    font-weight: bold;
    color: $color-3;
    font-size: 26px;
    font-weight: bold;
    display: block;
  }
}

.utb--checkout-body {
  @media (min-width: 768px) {
    width: calc(100% - 400px);
    padding-right: 50px;
  }
}

.utb--checkout-sidebar {
  background-color: #f4f4f4;
  border-radius: 5px;
  padding: 30px 25px;
  > h3 {
    padding-bottom: 10px;
    border-bottom: 2px solid #dddddd;
  }
  @media (min-width: 768px) {
    width:400px;
  }
}

table.shop_table {
  &.woocommerce-checkout-review-order-table {
    table-layout: fixed;
    .cart_item {
      td{padding: 15px 0 !important;}
      .product-name {
        font-size: 15px;
        line-height: 19px;
        color: #636363;
      }
      .product-total {
        font-size: 15px;
        text-align: right;
        color: #636363;
      }
      td {
        padding: 10px 0;
      }
    }
  }
}

.woocommerce-billing-fields {
  border-bottom: 2px solid #eeeeee;
  padding-bottom: 15px;
  margin-bottom: 25px;
}

.woocommerce-shipping-fields {
  > h3 {

  }
}

.shipping-toggle {
  position: relative;
  padding: 15px 0 25px 0;
  label {
    line-height: 20px;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
    color: $color-3;
  }
}

//PAYMENTS STYLES
#payment {
  &.woocommerce-checkout-payment {
    background: none;
    border-radius: 0;
    .woocommerce-terms-and-conditions-wrapper {
      .woocommerce-privacy-policy-text {
        padding: 0 0 20px 0;
        font-size: 14px;
        line-height: 18px;
        color: #7e8285;
        a {
          color: #a695bd;
          border-bottom: 1px dotted #eeeeee;
          &:hover {color: $color-1;}
        }
      }
    }
    .form-row {
      &.place-order {
        padding: 10px 0;
      }
    }
    ul.payment_methods {
      padding: 0;
      border-bottom: 0;
      margin: 0;
    }
    div.payment_box {
      background-color:: #e5e5e5;
      &.payment_method_bluepay {
        .form-row {
          width: 100%;
          margin: 0 0 10px 0;
          padding: 0;
          input {width: 100% !important;}
          &:nth-child(3),
          &:nth-child(4) {
            width: 50%;
          }
        }
      }
      &:before {
        border: 1em solid #e5e5e5;
        border-right-color: transparent;
        border-left-color: transparent;
        border-top-color: transparent;
      }
    }
  }
  #place_order {
    display: block;
    float: none;
    width: 100%;
  }
}
