.store-banner {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  height: 475px;
  @media (max-width: 575px) {
    height: 0;
    padding-top: 56.60%;
  }
  z-index: 1;
  overflow: hidden;
  -webkit-transform: translate3d(0,0,0);
  a {display: block;}
  img {
    position: absolute;
    left: 50%;
    top: 50%;
    min-width: 100%;
    height: auto;
    @include transform(translate(-50%, -50%));
    z-index: 2;
  }
  .banner-head {
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    @include transform(translate(-50%, -50%));
    text-align: center;
    z-index: 3;
    h1 {
      text-transform: none;
      color: white;
      font-size: 42px;
      font-weight: 500;
      text-shadow: 0 0 15px rgba(0,0,0,0.3);
    }
    a {
      &:hover {
        h1 {text-decoration: underline;}
      }
    }
  }
}

.utb--products {
  &.banner-active {
    position: relative;
    padding: 30px 15px 60px 15px;
    box-sizing: border-box;
    z-index: 2;
    margin-top: -40px;
    background-color: white;
    .utb--product {
      padding: 0 15px;
      margin-bottom: 30px;
      @media (max-width: 575px) {
        margin-bottom: 10px;
      }
      .product-inner {
        background-color: #eeeeee;
        padding: 50px;
        @media (max-width: 575px) {
          padding: 20px;
        }
      }
    }
  }
}
