.utb--store-head {
  padding: 40px 0;
  position: relative;
  z-index: 6;
  @media (max-width: 767px) {
    .container {
      padding-right: 20px;
      padding-left: 20px;
    }
  }
}

.dropdown-item {
  position: relative;
  .dropdown {
    display: none;
    position: absolute;
    min-width: 250px;
    z-index: 1;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    padding: 20px;
    box-sizing: border-box;
    &.dropdown-normal {
      padding: 20px 15px;
      border-top-right-radius: 5px;
      ul {
        li {
          display: block;
          position: relative;
          padding-left: 15px;
          box-sizing: border-box;
          display: block;
          font-size: 14px;
          + li {
            margin-top: 15px;
          }
          &:before {
            display: inline-block;
            width: 4px;
            height: 4px;
            background-color: #afc6be;
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -3px;
          }
          a {
            color: #4c4c4c;
            &:hover {
              color: $color-1;
            }
          }
        }
      }
    }
    &.dropdown-special {
      min-width: 320px;
      right: 0;
      border-top-left-radius: 5px;
    }
    &.is-active {
      display: block;
    }
  }
  > a {
    font-size: 15px;
    padding: 14.5px 15px 14.5px 15px;
    @media (max-width: 1100px) {
      font-size: 14px;
      padding: 14.5px 10px 14.5px 10px;
    }
    box-sizing: border-box;
    display: block;
    color: #5b5c5e;
    position: relative;
    @include transition(all 0.2s ease-in-out);
    &:after {
      display: inline-block;
      width: 0;
      height: 0;
      vertical-align: middle;
      content: "";
      border-top: .3em solid #a3a7aa;
      border-right: .3em solid transparent;
      border-bottom: 0;
      border-left: .3em solid transparent;
      box-sizing: border-box;
    }
    &:hover {
      color: $color-1;
      &:after {border-top: .3em solid $color-1;}
    }
    &:before {
      position: absolute;
      width: 100%;
      height: 15px;
      background-color: transparent;
      visibility: hidden;
      top: 100%;
      right: 0;
      content: '';
      display: block;
      @include transition(all 0.2s ease-in-out);
    }
    &.is-active {
      box-shadow: 0 0 15px rgba(0,0,0,0.2);
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      z-index: 2;
      background-color: white;
      &:before {
        background-color: white;
        visibility: visible;
      }
      + .dropdown {display: block;}
    }
  }
  span, i {
    display: inline-block;
    vertical-align: middle;
  }
}

.store-filters {
  .has-dropdowns {list-style: none;}
  .dropdown-item {
    .dropdown {min-width: 100%;}
    .browse-button {
      display: inline-block;
      position: relative;
      @media (max-width: 991px) {
        margin-right: 0;
      }
      &:after {
        position: absolute;
        z-index: 3;
        top: 19px;
        right: 25px;
      }
      padding: 14.5px 60px 14.5px 25px;
      box-sizing: border-box;
      display: block;
      position: relative;
      z-index: 2;
      @include transition(all 0.1s ease-in-out);
      text-transform: uppercase;
      @media (max-width: 1200px) {
        font-size: 14px;
        padding: 15px 40px 15px 25px;
      }
      @media (max-width: 1100px) {
        font-size: 12px;
        padding: 15px 35px 15px 20px;
      }
      &:not(.is-active) {
        &:after {border-top: .4em solid white;}
        background-color: #4c3176;
        @include border-radius(45px);
        color: white;
        &:hover {
          background-color: #a695bd;
        }
      }
      &.is-active {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        background-color: white;
        color: #4c4c4c;
        &:after {border-top: .4em solid #4c4c4c;}
      }
    }
  }
}

.store-head-menu {
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  @media (max-width: 575px) {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
  li {
    display: inline-block;
    margin: 0 2.5px;
    > span {
      font-size: 14px;
      padding: 14.5px 10px 14.5px 10px;
      box-sizing: border-box;
      display: block;
      color: #5b5c5e;
      span {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}

.store-head-right,
.store-head-left {
  display: inline-block;
  @media (max-width: 991px) {
    width: 100%;
    text-align: right;
  }
  @media (max-width: 575px) {
    text-align: left;
  }
}
.store-head-right {
  float: right;
  .store-search-box {
    display: inline-block;
    vertical-align: top;
    position: relative;
    @media (max-width: 575px) {
      display: block;
      width: 100%;
    }
    .icon-magnifier {
      position: absolute;
      right: 1px;
      top: 1px;
      display: inline-block;
      font-size: 14px;
      background-color: white;
      line-height: 43px;
      padding: 0 15px;
    }
    .woocommerce-product-search {
      input {
        outline: 0;
        background-color: white;
        border: 1px solid #e5e5e5;
        box-sizing: border-box;
        display: block;
        padding: 14px 15px;
        color: #5b5c5e;
        font-weight: 500;
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        @media (max-width: 575px) {
          width: 100%;
        }
        &:focus {
          border-color: #e5b223;
          outline: 0;
          box-shadow: 0 0 0 0.2rem rgba(229,178,35,0.25);
          + .icon-magnifier {color: $color-1;}
        }
        @include placeholder {
    			color: #bababa;
          font-style: italic;
    		}
      }
    }
  }
}
.store-head-left {
  float: left;
  @media (max-width: 991px) {
    margin-bottom: 25px;
  }
  .store-filters {
    @media (max-width: 575px) {
      text-align: center;
    }
  }
}

.woocommerce-mini-cart__buttons {
  &.buttons {
    a.button {
      display: block;
      text-align: center;
      background-color: #4c3176;
      color: white;
      text-transform: uppercase;
      font-size: 14px;
      @include border-radius(3px);
      font-weight: 400;
      box-sizing: border-box;
      padding: 10px 20px;
      @include transition(all 0.2s ease-in-out);
      &:hover,
      &:focus {
        background-color: #a695bd;
      }
      + a.button {
        margin-top: 10px;
        background-color: $color-1;
        &:hover,
        &:focus {
          background-color: #a695bd;
        }
      }
    }
  }
}

.woocommerce-mini-cart__total {
  text-align: center;
  padding: 10px 0;
  border-top: 4px solid #dbdbdb;
  margin-top: 15px;
  strong {font-weight: normal;}
  span {vertical-align: baseline;}
}

.mini-cart-title {
  font-size: 14px;
  line-height: 18px;
  color: $color-3;
  margin-bottom: 5px;
}

.mini-thumb,
.mini-content {
  display: inline-block;
  float: left;
}

.woocommerce,
.woocommerce-page {
  ul.product_list_widget {
    li {
      padding: 0 0;
      + li {
        padding-top: 10px;
        margin-top: 10px;
        border-top: 1px solid #dfdfdf;
      }
      .mini-thumb {
        width: 45px;
        height: 45px;
        img {
          min-width: 100%;
          float: none;
          margin: 0;
        }
      }
      .mini-content {
        width: calc(100% - 45px);
        padding: 0 22px 0 15px;
        box-sizing: border-box;
        position: relative;
        .quantity {
          font-size: 14px;
          vertical-align: baseline;
          .amount {font-weight: bold;}
        }
        .remove_from_cart_button {
          position: absolute;
          right: 0;
          top: 0;
          color: #aeaeae !important;
          font-size: 22px;
          &:hover,
          &:focus {
            background-color: transparent;
            color: #f04242 !important;
          }
        }
      }
    }
  }
}

.utb-archive-head {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #dedede;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-top: 30px;
  .woocommerce-result-count {
    text-transform: uppercase;
    font-size: 13px;
    margin: 0 20px 0 0;
    color: #b4b4b4;
    letter-spacing: 0.2px;
    font-weight: 700;
    display: inline-block;
    float: none;
    @media (max-width: 575px) {
      line-height: 32px;
    }
  }
  .woocommerce-ordering {
    margin: 0;
    display: inline-block;
    float: none;
  }
  h1 {
    font-weight: bold;
    color: #1e1e1e;
    display: inline-block;
    font-size: 40px;
    line-height: 32px;
    margin: 0;
    @media (max-width: 767px) {
      display: block;
      width: 100%;
      margin-bottom: 40px;
    }
  }
  .archive-head-result {
    display: inline-block;
    margin-left: auto;
    @media (max-width: 575px) {
      margin-right: auto;
      width: 100%;
    }
    &:after {clear: both; display: block; content:'';}
  }
}

.product-sort {
  &.controls {
    display: inline-block;
    position: relative;
    min-width: 200px;
    @include transition(all 0.1s ease-in-out);
    border-style: solid;
    border-color: #e3e3e3;
    box-sizing: border-box;
    @media (max-width: 575px) {
      float: right;
    }
    &:before {
      border-style: solid;
      border-width: .15em .15em 0 0;
      border-color: #d3d3d3;
      content: '';
      display: inline-block;
      height: .40em;
      right: 12px;
      position: absolute;
      z-index: 4;
      top: 11px;
      transform: rotate(135deg);
      vertical-align: top;
      width: .40em;
    }
    &:after {display: none;}
    > span {
      padding: 9px 60px 9px 10px;
      box-sizing: border-box;
      display: block;
      font-size: 14px;
      position: relative;
      z-index: 2;
      color: #565b61;
      font-weight: 700;
      cursor: pointer;
      background: white;
      @include transition(all 0.2s ease-in-out);
      &:before {
        width: 1px;
        height: 100%;
        display: block;
        top: 0;
        right: 30px;
        z-index: 5;
        position: absolute;
        content: '';
        background-color: #e3e3e3;
      }
    }
    .list {
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      z-index: 1;
      padding: 10px 0;
      box-sizing: border-box;
      width: calc(100% + 2px);
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
      border-width: 0 1px 1px 1px;
      border-style: solid;
      border-color: #e3e3e3;
      background-color: white;
      left: -1px;
      top: calc(100% + 1px);
      overflow: hidden;
      position: absolute;
      display: none;
      .control {
        position: relative;
        box-sizing: border-box;
        display: block;
        font-size: 12px;
        color: #4c5359;
        padding: 10px;
        border: 0;
        cursor: pointer;
        width: 100%;
        text-align: left;
        background-color: white;
        &:hover {
          background-color: #f1f1f1;
        }
      }
    }
    &:not(.open) {
      @include border-radius(2px);
      border-width: 1px 1px 1px 1px;
      &:after {border-top: .2em solid #b7b7b7;}
      > span {
        @include border-radius(2px);
      }
    }
    &.open {
      border-width: 1px 1px 1px 1px;
      border-bottom-color: #f3f3f3;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      > span {color: #4c3176;}
      &:before {
        right: 12px;
        top: 14px;
        transform: rotate(-45deg);
      }
    }
  }
}

.woocommerce-result-count {
  .mixitup-page-stats {
    &:before,
    &:after {
      display: inline;
    }
    &:not(.mixitup-page-stats-disabled) {
      &:before {content: 'Showing ';}
      &:after {content: ' Results';}
    }
    &.mixitup-page-stats-disabled {
      &:before {content: '';}
      &:after {content: '';}
    }
  }
}

.taxonomy-breacrumbs {
  padding: 10px 0 10px 0;
  li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    a {
      color: $color-1;
      &:hover {
        text-decoration: underline;
      }
    }
    + li {
      &:before {
        display: inline-block;
        content: '>';
        margin: 0 5px;
      }
    }
  }
}

.order-steps {
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
  .order-step {
    color: #b4b4b4;
    display: inline-block;
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
    @media (max-width: 575px) {
      font-size: 16px;
      line-height: 26px;
      display: block;
    }
    a {color: #b4b4b4;}
    &:not(.active) {
      a {
        &:hover {
          color: #a695bd;
          border-bottom: 1px dotted #b4b4b4;
        }
      }
    }
    + .order-step {
      &:before {
        display: inline-block;
        content: '>';
        padding: 0 25px;
        line-height: 32px;
        color: #b4b4b4;
        font-size: 16px;
        box-sizing: border-box;
        @media (max-width: 575px) {
          padding: 5px 0;
          line-height: 12px;
          display: block;
          font-size: 12px;
          content: '\21D3';
        }
      }
    }
    &.active {
      color: #212121;
    }
  }
}
