.utb--product-single {
  padding: 50px 0 0 0;
}

.utb--product-single {
  div.product {
    div.images,
    div.summary {margin-bottom: 40px;}
    .product_title {
      color: #333333;
      font-size: 26px;
      line-height: 34px;
      font-weight: 700;
      margin-bottom: 15px;
    }
    p.price {
      font-size: 40px;
      line-height: 40px;
      font-weight: 500;
      color: black;
      margin-bottom: 20px;
      .amount {

      }
    }
    .product_meta {
      margin-bottom: 15px;
      display: block;
      a {
        display: inline-block;
        color: #b8b9bb;
        + a {
          margin-left: 8px;
        }
      }
    }
    .woocommerce-product-details__short-description {
      p {
        display: block;
        color: #333333;
        font-size: 15px;
        line-height: 24px;
        + p {
          margin-top: 25px;
        }
      }
    }
    button.button {
      display: inline-block;
      border: 1px solid transparent;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -webkit-transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      text-transform: uppercase;
      font-weight: normal;
      padding: 10px 30px;
      border-radius: 30px;
      line-height: 1.5;
      font-size: 14px;
      border: 1px solid transparent;
      color: white;
      background-color: #e5b223;
      float: none !important;
      &:hover,
      &:focus {
        background-color: #a695bd;
      }
    }
    .quantity {
      float: none !important;
      display: inline-block;
      vertical-align: middle;
      margin: 0 15px 0 0 !important;
    }
    //WOOCOMMERCE TABS
    .woocommerce-tabs {
      @media (min-width: 668px) {
        padding-right: 50px;
        padding-left: 50px;
      }
      width: 100%;
      max-width: 1200px;
      box-sizing: border-box;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 50px;
      .panel {
        margin: 0 0 0;
        padding: 0;
        max-width: 720px;
        margin-left: auto;
        margin-right: auto;
        p {
          display: block;
          color: #333;
          font-size: 15px;
          line-height: 24px;
          + p {
            margin-top: 25px;
          }
        }
      }
      ul.tabs {
        text-align: center;
        padding: 40px 0 0 0;
        border-top: 1px solid #dddddd;
        margin: 0 0 40px;
        &:before {display: none !important;}
        &.wc-tabs {
          li {
            border: 0 !important;
            background: none !important;
            border-radius: 0 !important;
            font-size: 24px;
            width: 33.33%;
            text-align: center;
            box-sizing: border-box;
            &:before,
            &:after {
              display: none !important;
            }
            a {
              position: relative;
              color: #989898;
              font-weight: 400;
              padding: 10px 0;
              &:hover {color: #a695bd;}
            }
            &.active {
              border: 0 !important;

              a {
                color: #4c3176;
                &:before {
                  position: absolute;
                  width: 100%;
                  height: 1px;
                  display: block;
                  content: '';
                  left: 0;
                  bottom: 0;
                  border-bottom: 1px dotted #989898;
                }
              }
            }
          }
        }
      }
    }
  }
}
.utb--product-single,
.utb--cart {
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number]{
    -moz-appearance: textfield;
  }
}

.woocommerce .blockUI.blockOverlay {
  background-color: rgb(255, 255, 255) !important;
  opacity: 0.8 !important;
  &:before {
    -webkit-animation: none !important;
    animation: none !important;
    background: url(../img/loader.svg) center center !important;
    height: 150px !important;
    width: 150px !important;
    display: inline-block!important;
    margin-left: -75px !important;
    margin-top: -75px !important;
  }
}

.utb--product-single,
.utb--cart {
  .quantity {
    padding: 0 38px;
    position: relative;
    input {
      width: 68px !important;
      height: 58px;
      line-height: 1.65;
      float: left;
      display: block;
      padding: 0;
      margin: 0;
      border: 1px solid #dadada;
      font-weight: 700;
      color: #333;
      font-size: 22px;
      -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
      transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
      &:focus {
        border-color: #e5b223;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(229,178,35,0.25);
      }
    }
  }

  .quantity input:focus {
    outline: 0;
  }

  .quantity-nav {
    float: left;
    height: 55px;
  }

  .quantity-button {
    position: absolute;
    cursor: pointer;
    width: 38px;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    line-height: 56px;
    color: #333;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    top: 2px;
    height: calc(100% - 4px);
    background-color: #d9d9d9;
    @include transition(color 0.1s ease-in-out, background-color 0.1s ease-in-out);
    &:hover {
      background-color: $color-1;
      color: white;
    }
    &.quantity-up {
      right: 0;
    }
    &.quantity-down {
      left: 0;
    }
  }
}

.related {
  background-color: #eeeeee;
  &.utb--mod-recent {
    padding: 60px 0;
    .utb--mod-head {
      .utb--mod-title {
        margin-bottom: 50px;
        font-weight: bold;
        color: #3c4952;
      }
    }
  }
  .utb--products {
    @media (min-width: 768px) {
      .utb--product {
        width: 33.33%;
      }
    }
  }
}

.woocommerce {
  .woocommerce-product-rating {
    .star-rating {
      margin: 0 6px 0 0;
      display: inline-block;
      vertical-align: middle;
      float: none;
      &:before {
        content: '\53\53\53\53\53';
        color: #e6e6e5;
      }
      span {
        &:before {
          color: $color-1;
        }
      }
    }
    .woocommerce-review-link {
      display: inline-block;
      vertical-align: middle;
      color: $color-1;
      font-size: 14px;
      &:hover {color: #a695bd;}

    }
  }
}
