.order-success {
  text-align: center;
  padding: 0;
  i,p {
    display: inline-block;
    vertical-align: middle;
  }
  p {
    color: #7b9c55;
    font-size: 18px;
    font-weight:500;
  }
  i {
    background-color: #7b9c55;
    color: white;
    width: 40px;
    height: 40px;
    font-size:18px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    margin-right: 10px;
    @media (max-width: 575px) {
      margin-right: 0px;
      margin-bottom: 10px;
    }
  }
  .success-actions {
    padding: 30px 0 50px 0;
    a {
      margin: 0 5px;
      @media (max-width: 575px) {
        margin-bottom: 10px;
      }
    }
  }
}

.woocommerce-order {
  .column-order-overview {
    background-color: #f4f4f4;
    padding: 40px 0 40px 40px;
    @media (max-width: 767px) {
      padding: 40px 0 0 40px;
    }
    @media (max-width: 575px) {
      width: 100%;
      padding: 40px 40px 0 40px;
    }
    box-sizing: border-box;
    .woocommerce-order-overview{
      margin: 0 !important;
      li {
        width: 100%;
        @media (max-width: 767px) {
          width: 50%;
          margin-right: 0;
        }
        @media (max-width: 575px) {
          width: 100%;
          padding-right: 0;
        }
        border-right: 0px;
        font-size: 16px;
        color: #3f464c;
        strong{font-size: 14px;}
        text-transform: none;
        + li {margin-top: 10px;}
      }
    }
    h2 {
      font-weight: bold;
      color: #3f464c;
      font-size: 26px;
      font-weight: bold;
      display: block;
      margin-bottom: 10px;
    }
    @media (min-width: 768px) {
      width: 260px;
    }
  }
  .column-order-details {
    background-color: #f4f4f4;
    padding: 40px 40px 40px 50px;
    @media (max-width: 767px) {
      padding: 40px;
    }
    .button.wc_pip_view_invoice {display: none;}
    @media (min-width: 768px) {
      width: calc(100% - 260px);
    }
  }
}

.woocommerce-customer-details {
  padding: 50px 0 0 0;
}

.order-summary-list {
  .summary-products {
    border-top: 2px solid #dddddd;
    .summary-product-item {
      padding: 16px 0;
      border-bottom: 1px solid #dddddd;
      font-size: 14px;
      line-height: 18px;
      a {
        color: #5d5d5d;
        &:hover {
          color: #a695bd;
          border-bottom: 1px dotted #dddddd;
        }
      }
      strong {font-weight: 400; color:#5d5d5d;}
      .amount {
        display: inline-block;
        float: right;
      }
    }
  }
  .summary-totals {
    text-align: right;
    &:after {
      clear: both;
      display: block;
      content: '';
    }
    .payment-method-, .tax_label, .shipped_via {display: none !important;}
    .total-label,
    .total-value {
      display: inline-block;
      float: left;
      padding: 8px 0;
      line-height: 18px;
      &.total- {padding: 15px 0 0 0; }
      &.shipping- {
        border-bottom: 1px solid #dddddd;
        padding-bottom: 16px;
      }
      &.subtotal- {
        padding-top: 16px;
      }
    }
    .total-label {
      width: calc(100% - 100px);
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 700;
      color: $color-3;
    }
    .total-value {
      width: 100px;
      font-size: 14px;
      font-weight: 700;
    }
  }
}

.woocommerce-customer-details {
  width: 100%;
  > h3 {
    font-weight: bold;
    color: #3f464c;
    font-size: 26px;
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
  }
}

.woocommerce-customer-details {
  &:after {clear: both; display: block; content: '';}
  .woocommerce-columns {
    .woocommerce-column {
      max-width: 25%;
      width: 100%;
      padding-right: 50px;
      @media (max-width: 767px) {
        max-width: 50%;
        padding-right: 0px;
        margin-bottom: 25px;
      }
      @media (max-width: 575px) {
        max-width: 100%;
        margin-bottom: 30px;
      }
      display: inline-block;
      float: left;
      box-sizing: border-box;
      .woocommerce-column__title {
        color: $color-3;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 5px;
      }
      .woocommerce-customer-details--email,
      .woocommerce-customer-details--phone {
        font-size: 14px;
        padding-left: 0px;
        &:before {display: none!important;}
      }
      .woocommerce-customer-details--email {
        margin-bottom: 12px;
      }
      address {
        border: 0;
        border-bottom-width: 0;
        border-right-width: 0;
        border-radius: 0;
        padding: 0;
        font-size: 14px;
        line-height: 26px;
      }
    }
  }
}
