.woocommerce-store-table {
  .woocommerce-table-head {
    border-bottom: 3px solid #dddddd;
    margin-bottom: 15px;
    .column {
      padding: 15px 0;
      box-sizing: border-box;
      text-transform: uppercase;
      color: #535a60;
    }
  }
  .woocommerce-table-body {
    .column {
      box-sizing: border-box;
    }
  }
  &.woocommerce-orders-table {
    .woocommerce-table-head,
    .woocommerce-table-body {
      .column {
        &:nth-child(1) {width: 15%;}
        &:nth-child(2) {width: 20%;}
        &:nth-child(3) {width: 20%;}
        &:nth-child(4) {width: 30%;}
        &:nth-child(5) {width: 15%;}
      }
    }
    .woocommerce-table-head {
      .column {
        &:nth-child(5) {
          span {display: none;}
        }
      }
    }
    .woocommerce-table-body {
      .column {
        &:last-child{justify-content: flex-end;}
      }
    }
  }
  &.woocommerce-downloads-table {
    .woocommerce-table-head,
    .woocommerce-table-body {
      .column {
        &:nth-child(1) {width: 70%;}
        &:nth-child(2),
        &:nth-child(3) {display: none;}
        &:nth-child(4) {width: 30%;}
      }
    }
  }
  &.woocommerce-orders-table,
  &.woocommerce-downloads-table {
    .woocommerce-table-head {
      .column {
        span {
          font-weight: 700;
          font-size: 14px;
        }
      }
    }
    .woocommerce-table-body {
      justify-content: center;
      .column {
        padding: 15px 0;
        font-size: 14px;
        color: #535a60;
        display: flex;
        align-items: center;
        .wc_pip_view_invoice {display: none;}
      }
    }
  }
}
