.utb--store-tax {
  padding: 40px 0 50px 0;
}

.taxonomy-sidebar {
  float: left;
  display: inline-block;
  box-sizing: border-box;
}
.taxonomy-sidebar {
  @media (min-width: 1025px) {
    width: 230px;
    padding-right: 25px;
  }
  @media (max-width: 1024px) {
    order: 2;
    width: 100%;
  }
  h3 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 15px;
    border-bottom: 1px solid #dedede;
    margin-bottom: 15px;
    padding-bottom: 10px;
  }
}
.taxonomy-content {
  box-sizing: border-box;
  &.has-sidebar {
    @media (min-width: 1025px) {
      padding-left: 25px;
      width: calc(100% - 230px);
      float: left;
    }
    display: inline-block;
    @media (max-width: 1160px) {
      .column {}
    }
    @media (max-width: 1024px) {
      order: 1;
      margin-bottom: 40px;
    }
  }
  &:not(.has-sidebar) {
    width: 100%;
    display: block;
    @media (max-width: 1160px) {
      .column {}
    }
  }
}

.taxonomy-hero {
  width: 100%;
  overflow: hidden;
  height: 200px;
  margin-bottom: 50px;
  img {
    min-width: 100%;
    height: auto;
  }
}

.taxonomy-children {
  list-style: none;
  margin: 0 0 0 -10px;
  padding: 0;
  li {
    display: block;
    font-size: 14px;
    a {
      color: #4c2b7a;
      padding: 13px 10px;
      display: block;
      box-sizing: border-box;
      &:hover {
        background-color: #eeeeee;
      }
    }
  }
}
