.utb--sidebar {
  @media (min-width: 768px) {
    width: 280px;
    float: left;
    &.sb--type-bordered {
      padding-right: 20px;
      border-right: 1px solid #ddd;
    }
  }
  @media (max-width: 767px) {
    width: 100%;
    margin-bottom: 40px;
  }
  min-height: 1px;
  box-sizing: border-box;
}

.utb--widget {
  .widget--title {
    margin-bottom: 25px;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    color: #999;
  }
  .checkbox-group-label {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-family: inherit;
    font-weight: 400;
    line-height: 1.2;
    color: inherit;
    display: block;
  }
  .checkbox-group {
    + .checkbox-group {
      border-top: 1px solid #ccc;
      margin-top: 1rem;
      padding-top: 1rem;
    }
  }
}
