.utb--subnav {
  padding: 10px 0;
  text-align: center;
  background: #f2f2f0;
  font-size: 14px;
  @media (max-width: 991px) {
    display: none;
  }
  ul {
    list-style: none;
    li {
      display: inline-block;
      line-height: 1.5;
      a {
        margin-right: 15px;
        margin-left: 15px;
        color: #444;
        display: inline-block;
        padding: 5px 15px;
        font-weight: bold;
        border-radius: 20px;
        &:hover {
          text-decoration: underline;
        }
      }
      &.current {
        a {
          background: #fff;
          color: #7561a3;
          &:hover {text-decoration: none;}
        }
      }
    }
  }
}
