.utb--mod-subscribe {
  position: relative;
  padding: 60px 0 0 0;
  text-align: center;
  &.utb--mod-subscribe-archive {
    padding: 90px 0 0 0;
  }
  .utb--mob-info-snippet {
    font-size: 80%;
    font-weight: 400;
  }
  .utb--mod-wrap {padding: 0 0 60px 0;}
  &.mod-sub-padding {
    padding: 90px 0 0 0;
    .utb--mod-wrap {padding: 0 0 90px 0;}
  }
  @media (min-width: 768px) {
    hr {margin: 0 20px;}
  }
}

.gform_wrapper.gform_validation_error .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half) {
  max-width: 100% !important;
}

.gform_confirmation_message {
  font-weight: bold;
  font-size: 24px;
  color: #393939;
}

.gform_wrapper {
  .validation_error {display: none !important;}
  &:after {
    clear: both;
    display: block;
    content: '';
  }
  .gform_footer {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    clear: none;
    input[type=submit] {
      display: block;
      border: 1px solid transparent;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      @include transition(background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out);
      text-transform: uppercase;
      font-weight: normal;
      padding: .470rem .75rem !important;
      @include border-radius(20px);
      font-size: 14px !important;
      line-height: 1.5 !important;
      color: white;
      background-color: $color-1;
      width: 100%;
      cursor: pointer;
      &:hover,
      &:focus {
        border: 1px solid #a695bd;
        background-color: #a695bd;
        outline: 0;
      }
    }
  }
  .gform_body {
    span.gfield_required {display: none !important;}
    .gform_fields {
      &:after {
        clear: both;
        display: block;
        content: '';
      }
      .gfield {
        clear: none;
        margin: 0;
        box-sizing: border-box;
        + .gfield {margin-top: 20px;}
        .gfield_label,
        label  {
          font-weight: normal !important;
          display: block !important;
          font-size: 16px !important;
          margin: 0 0 10px 0 !important;
          letter-spacing: 0 !important;
        }
        &.gfield_error {
          position: relative;
          background-color: transparent;
          margin-bottom: 0 !important;
          @media (max-width: 767px) {
            margin-bottom: 15px !important;
          }
          border-top: 0 !important;
          border-bottom: 0 !important;
          input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
          textarea,
          select {
            border: 1px solid #f87c7c;
            color: #495057;
            box-shadow: 0 0 0 0.2rem rgba(231,70,70,.05);
            @media (max-width: 767px) {
              max-width: 100% !important;
              width: 100% !important;
            }
            &:focus {
              color: #495057;
              background-color: #fff;
              border-color: #e5b223;
              outline: 0;
              box-shadow: 0 0 0 0.2rem rgba(229,178,35,.25);
            }
          }
          .validation_message {
            @media (min-width: 768px) {
              position: absolute;
              top: -10px;
              right: 0;
              left: auto;
              width: auto;
              box-sizing: border-box;
              padding: 10px;
              background-color: #f9f9f9;
              font-weight: 500;
              color: #999;
              border-radius: 3px;
              border: 1px solid #f0f0f0;
              box-shadow: 0 0 30px rgba(0,0,0,0.05);
            }
            @media (max-width: 767px) {
              display: none !important;
            }
          }
        }
        .ginput_container {
          margin: 0;
          width: 100%;
          input[type="text"],
          input[type="email"],
          select {
            margin: 0;
            width: 100%;
          }
          input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
          select {
            padding: .375rem .75rem;
            font-size: 1rem;
            line-height: 1.5;
          }
          &.ginput_complex {
            > span {
              display: block;
              padding: 0 !important;
              + span {
                margin-top: 20px !important;
              }
              &.address_state,
              &.address_zip,
              &.address_city {
                width: 100%;
                margin: 0;
                padding: 0;
              }
            }
          }
        }
      }
    }
  }
  // general gform input styling
  input[type="text"],
  input[type="email"],
  select {
    width: 100%;
    display: block;
    box-sizing: border-box;
    display: block;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    overflow: visible;
    margin: 0;
    &:focus {
      color: #495057;
      background-color: #fff;
      border-color: #e5b223;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(229,178,35,.25);
    }
  }
  input[type="button"] {
    width: 100%;
    cursor: pointer;
    vertical-align: middle;
    padding: .450rem .75rem;
    box-sizing: border-box;
    &:focus {
      outline:0;
    }
  }
}

.utb--news-form {
  .gform_wrapper {
    .gform_footer {
      padding: 0 20px;
      margin: 0;
      clear: none;
      @media (min-width: 768px) {
        width: 25%;
        float: left;
      }
      @media (max-width: 767px) {
        width: 100%;
        float: none;
      }
      input[type=submit] {width: 100%;}
    }
    .gform_body {
      @media (min-width: 768px) {
        width: 75%;
        float: left;
      }
      @media (max-width: 767px) {
        width: 100%;
        float: none;
      }
      .gform_fields {
        .gfield_label {display: none;}
        .gfield {
          &.gfield_error {
            .validation_message {
              @media (min-width: 768px) {
                top: -100%;
                right: 20px;
              }
            }
          }
          padding: 0 20px;
          + .gfield {margin-top: 0px;}
          @media (min-width: 768px) {
            width: 33.33%;
            float: left;
          }
          @media (max-width: 767px) {
            width: 100%;
            float: none;
            margin-bottom: 15px;
          }
        }
      }
    }
  }
}

.utb--news-form {
  padding: 30px 0;
  label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0;
  }
}
