#adminmenu #menu-posts-station .wp-menu-image:before,
#adminmenu #menu-posts-lifekey .wp-menu-image:before,
#adminmenu #menu-posts-broadcast .wp-menu-image:before,
#adminmenu #menu-posts-story .wp-menu-image:before,
#adminmenu #menu-posts-sermon .wp-menu-image:before,
#adminmenu #menu-posts-member .wp-menu-image:before,
#adminmenu #menu-posts .wp-menu-image:before,
#adminmenu #menu-posts-series .wp-menu-image:before,
#adminmenu #toplevel_page_acf-options-stations .wp-menu-image:before,
#adminmenu #toplevel_page_acf-options-monthly-offer .wp-menu-image:before,
#adminmenu #toplevel_page_acf-options-theme-settings .wp-menu-image:before {
  font-family: 'simple-line-icons';
  font-size: 16px;
  line-height: 20px;
  color: #dfba58;
}
#adminmenu li.current a.menu-top,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu {background-color: #dfba58;}
#adminmenu li.current .wp-menu-image:before,
#adminmenu li.wp-has-current-submenu .wp-menu-image:before {color: white !important;}

#adminmenu #menu-posts-station .wp-menu-image:before,
#adminmenu #toplevel_page_acf-options-stations .wp-menu-image:before {content: "\e063";}
#adminmenu #menu-posts-lifekey .wp-menu-image:before {content: "\e08c";}
#adminmenu #menu-posts-broadcast .wp-menu-image:before {content: "\e03b";}
#adminmenu #menu-posts-member .wp-menu-image:before {content: "\e001";}
#adminmenu #menu-posts-story .wp-menu-image:before {content: "\e068";}
#adminmenu #menu-posts-sermon .wp-menu-image:before {content: "\e07e";}
#adminmenu #menu-posts .wp-menu-image:before {content: "\e01d";}
#adminmenu #menu-posts-series .wp-menu-image:before {content: "\e02d";}
#adminmenu #toplevel_page_acf-options-monthly-offer .wp-menu-image:before {content: "\e05c";}
#adminmenu #toplevel_page_acf-options-theme-settings .wp-menu-image:before {content: "\e052"}

#adminmenu .wp-submenu a:focus, #adminmenu .wp-submenu a:hover, #adminmenu a:hover, #adminmenu li.menu-top>a:focus {
  color: #dfba58;
}
#adminmenu li.menu-top:hover, #adminmenu li.opensub>a.menu-top, #adminmenu li>a.menu-top:focus {
  color: #dfba58;
}

#adminmenu li a:focus div.wp-menu-image:before, #adminmenu li.opensub div.wp-menu-image:before, #adminmenu li:hover div.wp-menu-image:before {
  color: #dfba58;
}

.acf-fields > .acf-field {
  box-sizing: border-box;
}
.notice.yoast-notice.yoast-notice-go-premium, #plugins-by-john-huebner{display: none !important;}

.save {
  position: relative;
  top: auto;
  right: auto;
}

@media (min-width: 767px) {
  .utb-linked-column {
    width: 33.33%;
    display: inline-block;;
    box-sizing: border-box;
  }
}
