body.login {
  background-color: white;
}

.login h1 a {
  height: 96px;
  width: 150px;
  background-size: 150px;
  background-image: url('../../assets/img/logo.png');
}

.login label {
  font-size: 14px;
  color: white;
  font-weight: 500;
  display: block;
}

.login form {
  margin-top: 20px;
  margin-left: 0;
  padding: 26px 24px 46px;
  background: #e5b223;
  box-shadow: 0 1px 15px rgba(0,0,0,.13);
  -webkit-border-radius: 4px;
}

.login input[type="text"]{
  background-color: transparent;
  border-color: #f6e5b8;
  border-width: 2px;
  font-size: 14px;
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  box-shadow: 0 0 0;
  padding: 10px 15px;
  color: white;
}

.login input[type="password"]{
  background-color: transparent;
  border-color: #f6e5b8;
  border-width: 2px;
  font-size: 14px;
  -webkit-border-radius: 4px;
  box-shadow: 0 0 0;
  padding: 10px 15px;
  color: white;
}

.login .button-primary {
  background: white !important;
  color: #222;
  -webkit-border-radius: 4px;
  border: 1px solid white;
  text-shadow: 0 0 0;
  box-shadow: 0 1px 0 #e9e9e9;
}

.login .button-primary:hover {
  background: #333 !important;
  color: white;
  border: 1px solid #111;
}

.login .button-primary:active {
  background-color:#17a8e3 !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#0d9ed9), to(#17a8e3));
  background: -webkit-linear-gradient(top, #0d9ed9, #17a8e3);
  background: -moz-linear-gradient(top, #0d9ed9, #17a8e3);
  background: -ms-linear-gradient(top, #0d9ed9, #17a8e3);
  background: -o-linear-gradient(top, #0d9ed9, #17a8e3);
  background-image: -ms-linear-gradient(top, #0d9ed9 0%, #17a8e3 100%);
  color: #fff;
  -webkit-border-radius: 4px;
  border: 1px solid #0d9ed9;
}
